<a href="https://colab.research.google.com/github/jaekyoungkim/nlp_in_action/blob/main/%EC%9E%90%EC%97%B0%EC%96%B4%EC%B2%98%EB%A6%AC%EC%9D%B8%EC%95%A1%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/totalgood/nlpia

Cloning into 'nlpia'...
remote: Enumerating objects: 6365, done.
remote: Counting objects: 100% (189/189), done.
remote: Compressing objects: 100% (114/114), done.
remote: Total 6365 (delta 86), reused 132 (delta 55), pack-reused 6176
Receiving objects: 100% (6365/6365), 124.18 MiB | 28.63 MiB/s, done.
Resolving deltas: 100% (4033/4033), done.

In [ ]:
!pip install nlpia

Collecting nlpia
  Downloading nlpia-0.5.2-py2.py3-none-any.whl (32.0 MB)
     |████████████████████████████████| 32.0 MB 46.1 MB/s
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.8.0)
Collecting pugnlp
  Downloading pugnlp-0.2.6-py2.py3-none-any.whl (706 kB)
     |████████████████████████████████| 706 kB 57.5 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.2.2)
Collecting html2text
  Downloading html2text-2020.1.16-py3-none-any.whl (32 kB)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from nlpia) (2019.12.20)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nlpia) (4.63.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.2.5)
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.2.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.11.2)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.9.0)
Requirement already satisfied: keras in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.8.0)
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 5.5 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from nlpia) (5.5.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nlpia) (4.2.6)
Requirement already satisfied: jupyter in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.0)
Collecting pypandoc
  Downloading pypandoc-1.7.4.tar.gz (30 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.1.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.16.0)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.6.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.2)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.21.5)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.4.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (5.2.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->nlpia) (1.5.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib->nlpia) (0.5.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (7.6.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.2.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (4.10.1)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.3.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.2.2)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.6.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.5.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.1.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.3.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (57.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (4.4.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.2.5)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (1.0.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (3.5.2)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.9.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.3.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (3.10.0.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.11.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (21.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (3.7.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (0.13.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (2.11.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->nlpia) (22.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->nlpia) (2.8.2)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook->jupyter->nlpia) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter->nlpia) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (1.3.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (4.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (1.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter->nlpia) (21.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nlpia) (2018.9)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader->nlpia) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (1.24.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->nlpia) (8.0.1)
Requirement already satisfied: coverage in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (3.7.1)
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (21.1.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (6.1.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (0.37.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->pugnlp->nlpia) (1.3)
Requirement already satisfied: qtpy in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter->nlpia) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->nlpia) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->nlpia) (1.1.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (7.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (3.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (0.9.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (2.0.6)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.1.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (0.4.1)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (2.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.24.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (3.3.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (2.8.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.5.3)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.1.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.13.3)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (13.0.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (3.17.3)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.0.0)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 64.4 MB/s
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.6.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.44.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.2.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (3.3.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow->nlpia) (3.2.0)
Building wheels for collected packages: pypandoc, python-Levenshtein
  Building wheel for pypandoc (PEP 517) ... done
  Created wheel for pypandoc: filename=pypandoc-1.7.4-py2.py3-none-any.whl size=32102 sha256=535179eaf5aa11ddd26e01216c49f2fc41a2190d6ffe18d1c8eb9ad71e3a9426
  Stored in directory: /root/.cache/pip/wheels/f1/80/ba/d10ff9f1ebfd8386979b7d86b7e8ed055aa8bc8f4900bfc986
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149871 sha256=b609abe298a65252aa5c7fe42aaa3350b8f30c0419d5bc33267bda2ab6111ccd
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built pypandoc python-Levenshtein
Installing collected packages: tf-estimator-nightly, python-Levenshtein, pypandoc, fuzzywuzzy, pugnlp, html2text, nlpia
Successfully installed fuzzywuzzy-0.18.0 html2text-2020.1.16 nlpia-0.5.2 pugnlp-0.2.6 pypandoc-1.7.4 python-Levenshtein-0.12.2 tf-estimator-nightly-2.8.0.dev2021122109

# ch01. 사고의 단위 : nlp개요

In [ ]:
# 정규식
import re  # regex/re 두개 있음 
r = "(hi|hello|hey)[ ] *([a-z]*)" # a-z에 포함하는 글자가 임의의 횟수로 나타날수 있음

In [ ]:
re.match(r, "hello rosa", flags= re.IGNORECASE)

In [ ]:
re.match(r, "hi ho, hiho, it's off to work ...", flags= re.IGNORECASE)

In [ ]:
re.match(r, "hey what's up.", flags= re.IGNORECASE)  # 대소문자 구분 무시함

In [ ]:
# code error 
# r = r'[^a-z]*([y]o|[h']?ello|ok|hey|(good[ ])?(morn[gin']{0,3}|'\r'afternoon|even[gin']{0,3}))[\s.;:]{1,3}([a-z]{1,20})'
# r' : 정규 표현식 아니라 원시 문자열을 뜻함

In [ ]:
re_greeting = re.compile(r, flags =re.IGNORECASE) # compile 메서드로 정규표현식을 미리 컴파일해두면 정규식을 적용할때마다 옵션을 지정할 필요 없음

In [ ]:
re_greeting.match('Hello Rosa')

In [ ]:
re_greeting.match('Good moring Rosa')

In [ ]:
re_greeting.match('good evening rosa parks')

In [ ]:
my_names = set(['rosa','rose','chatty','chatbot','bot','chatterbot'])
curt_names = set(['hal','you','u']) 
greeter_name ='' #아직 챗봇은 대화상대가 누군지 모름
match = re_greeting.match(input())
if match:
  at_name = match.groups()[-1]
  if at_name in curt_names:
    print('good one')
  elif at_name.lower() in my_names: 
    print('hi {} how are you?'.format(greeter_name))

hello rosa
hi  how are you?

In [ ]:
my_names = set(['rosa','rose','chatty','chatbot','bot','chatterbot'])
curt_names = set(['hal','you','u']) 
greeter_name ='' #아직 챗봇은 대화상대가 누군지 모름
match = re_greeting.match(input())
if match:
  at_name = match.groups()[-1]
  if at_name in curt_names:
    print('good one')
  elif at_name.lower() in my_names: 
    print('hi {} how are you?'.format(greeter_name))

hello you
good one

In [ ]:
# 부록b의 정규식
# 프로그램 언어로 이루어진 하나의 작은 프로그램
# 문자열을  컴파일해서 하나의 작은 프로그램을 만들고 그것을 다른 문자열들에 대해 실행함으로써 패턴 부합을 수행
# | or
# () 그룹묶기
# [] 문자부류
# \s \b \d \w  흔히쓰이는 문자 부류들의 단축표기
# * ? + 반복횟수 지정
# {7,10} : 반복횟수를 좀더 구체적으로 지정

In [ ]:
import re 
re.findall(r'Hannes|Hobson|Cole', 'Hobson lane, Cole Howard, and Hannes Max Hapke')

['Hobson', 'Cole', 'Hannes']

In [ ]:
re.findall(r'H|Hobson|Cole', 'Hobson lane, Cole Howard, and Hannes Max Hapke')

['H', 'Cole', 'H', 'H', 'H']

In [ ]:
# () 그룹묶기
# r'(kitt|dogg)y
match = re.match(r'(kitt|dogg)y' , "doggy")

In [ ]:
match.group()

'doggy'

In [ ]:
match.group(0)

'doggy'

In [ ]:
match.groups()

('dogg',)

In [ ]:
match = re.match(r'((kitt|dogg)(y))',  "doggy") # 괄호를 더 추가해서 전체 부합과 접미사도 개별적인 그룹으로 묶기

In [ ]:
match.groups()

('doggy', 'dogg', 'y')

In [ ]:
match.group(3)

'y'

In [ ]:
# [ ] 문자부류
# [abcd] : a or b or c or d
# [a-d] : a-d
# [a-c1-3] : [abc123]

In [ ]:
from collections import Counter  # counter : 토큰들을 각각의 통으로 분류하고 그 개수를 세는 기능 제공 
Counter('guten morgen rosa'.split())

Counter({'guten': 1, 'morgen': 1, 'rosa': 1})

In [ ]:
from itertools import permutations
[" ".join(combo) for combo in permutations("good morning rosa!".split(),3)]

['good morning rosa!',
 'good rosa! morning',
 'morning good rosa!',
 'morning rosa! good',
 'rosa! good morning',
 'rosa! morning good']

In [ ]:
#  단어 순서가 중요한 좀더 길고 복잡한 문장
s = """find textbooks with titles containing nlp or natural and language or computational and linguistics."""
len(set(s.split()))

12

In [ ]:
import numpy as np
np.arange(1, 12+1).prod()  # factorial(12)
# sapcy, syntaxnet: 자연어 문장에서 구문적, 놀리적 관계를 추출하게 해줌

479001600

In [ ]:
# 챗봇을 만들기 위한 알고리즘
# 1. 파싱 :텍스트에서 특징들과 구조적 수치자료를 추출
# 2. 분석 : 정서, 문법성, 으미론에 대한 평점
# 3. 생성 : 적절한 응답문 작성
# 4, 실행

# ch02. 나만의 어취 구축 : 단어 토큰화

In [ ]:
# 토큰 : 문자열을 개별적인 의미 단위들로 분할하는 방법을 적용한 단위 
# we'll -> we will로 구분할 수 있어야함
# 토큰생성기를 이용한 어휘구축
# 컴퓨터 언어로된 소스코드를 토크화하는데 쓰이는 토큰 생성기 :  스캐너, 렉서(lexical analyzer) 
# 어휘집 , 파서(컴파일러), 토큰, 용어, 단어, n그램 등의 용어들이 사용됨
# 토큰화는 구조가 없는 자료인 자연어 텍스트를 정보 조각들로 분할함

In [ ]:
sentence = '''thomas jefferson began building monticello at the age of 26.'''
sentence.split()

['thomas',
 'jefferson',
 'began',
 'building',
 'monticello',
 'at',
 'the',
 'age',
 'of',
 '26.']

In [ ]:
str.split(sentence)

['thomas',
 'jefferson',
 'began',
 'building',
 'monticello',
 'at',
 'the',
 'age',
 'of',
 '26.']

In [ ]:
token_sequence = str.split(sentence)
vocab = sorted(set(token_sequence))
', '.join(vocab)

'26., age, at, began, building, jefferson, monticello, of, the, thomas'

In [ ]:
num_tokens = len(token_sequence) ;num_tokens

10

In [ ]:
vocab_size = len(vocab) ; vocab_size

10

In [ ]:
onehot_vectors = np.zeros((num_tokens, vocab_size), int) ;onehot_vectors

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
for i , word in enumerate(token_sequence):
  onehot_vectors[i, vocab.index(word)] = 1

In [ ]:
' '.join(vocab)

'26. age at began building jefferson monticello of the thomas'

In [ ]:
onehot_vectors

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
import pandas as pd
pd.DataFrame(onehot_vectors, columns = vocab)

   26.  age  at  began  building  jefferson  monticello  of  the  thomas
0    0    0   0      0         0          0           0   0    0       1
1    0    0   0      0         0          1           0   0    0       0
2    0    0   0      1         0          0           0   0    0       0
3    0    0   0      0         1          0           0   0    0       0
4    0    0   0      0         0          0           1   0    0       0
5    0    0   1      0         0          0           0   0    0       0
6    0    0   0      0         0          0           0   0    1       0
7    0    1   0      0         0          0           0   0    0       0
8    0    0   0      0         0          0           0   1    0       0
9    1    0   0      0         0          0           0   0    0       0

In [ ]:
df = pd.DataFrame(onehot_vectors, columns = vocab)

In [ ]:
df[df==0] = ''

In [ ]:
df

  26. age at began building jefferson monticello of the thomas
0                                                            1
1                                   1
2                1
3                         1
4                                              1
5          1
6                                                     1
7       1
8                                                 1
9   1

In [ ]:
# 장점은 어떤 정보도 소실되지 않지만 복원할때도 완벽함
# 원문의 모든 세부사항을 유지함, 컴퓨터가 이해할 수 있는 수치자료의 형태임
# 단어 모음 벡터(빈도벡터) : 단어의 순서 안나타나기때문에 복원 불가능

In [ ]:
sentence_bow = {}
for token in sentence.split():
  sentence_bow[token] = 1
  sorted(sentence_bow.items())

In [ ]:
sentence_bow

{'26.': 1,
 'age': 1,
 'at': 1,
 'began': 1,
 'building': 1,
 'jefferson': 1,
 'monticello': 1,
 'of': 1,
 'the': 1,
 'thomas': 1}

In [ ]:
import pandas as pd
df = pd.DataFrame( pd.Series(dict([(token,1) for token in sentence.split()])), columns=['sent']).T

In [ ]:
[(token,1) for token in sentence.split()]

[('thomas', 1),
 ('jefferson', 1),
 ('began', 1),
 ('building', 1),
 ('monticello', 1),
 ('at', 1),
 ('the', 1),
 ('age', 1),
 ('of', 1),
 ('26.', 1)]

In [ ]:
df

      thomas  jefferson  began  building  monticello  at  the  age  of  26.
sent       1          1      1         1           1   1    1    1   1    1

In [ ]:
sentences = """thomas jefferson began building moticello at the age of 26.\n"""
sentences += """construction was done mostly by local masons and carpenters.\n"""
sentences += """he moved into the south pavilion in 1770.\n"""
sentences += """turning moticello into a neoclassical masterpiece was jefferson's obsession."""
corpus ={}
print(sentences)

thomas jefferson began building moticello at the age of 26.
construction was done mostly by local masons and carpenters.
he moved into the south pavilion in 1770.
turning moticello into a neoclassical masterpiece was jefferson's obsession.

In [ ]:
for i, sent in enumerate(sentences.split('\n')):
  corpus['sent{}'.format(i)] = dict((tok,1) for tok in sent.split())

In [ ]:
corpus

{'sent0': {'26.': 1,
  'age': 1,
  'at': 1,
  'began': 1,
  'building': 1,
  'jefferson': 1,
  'moticello': 1,
  'of': 1,
  'the': 1,
  'thomas': 1},
 'sent1': {'and': 1,
  'by': 1,
  'carpenters.': 1,
  'construction': 1,
  'done': 1,
  'local': 1,
  'masons': 1,
  'mostly': 1,
  'was': 1},
 'sent2': {'1770.': 1,
  'he': 1,
  'in': 1,
  'into': 1,
  'moved': 1,
  'pavilion': 1,
  'south': 1,
  'the': 1},
 'sent3': {'a': 1,
  'into': 1,
  "jefferson's": 1,
  'masterpiece': 1,
  'moticello': 1,
  'neoclassical': 1,
  'obsession.': 1,
  'turning': 1,
  'was': 1}}

In [ ]:
df =pd.DataFrame.from_records(corpus).fillna(0).astype(int).T
df[df.columns[:10]]

       thomas  jefferson  began  building  moticello  at  the  age  of  26.
sent0       1          1      1         1          1   1    1    1   1    1
sent1       0          0      0         0          0   0    0    0   0    0
sent2       0          0      0         0          0   0    1    0   0    0
sent3       0          0      0         0          1   0    0    0   0    0

In [ ]:
# 내적
v1 = pd.np.array([1,2,3]) 
v2 = pd.np.array([2,3,4]) 
(v1*v2).sum() # 굉장히 효율적인 계산

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until

20

In [ ]:
sum([x1 * x2 for x1, x2 in zip(v1,v2)])

20

In [ ]:
v1

array([1, 2, 3])

In [ ]:
v1.reshape(-1,1).T

array([[1, 2, 3]])

In [ ]:
v2.reshape(-1,1)

array([[2],
       [3],
       [4]])

In [ ]:
v1.reshape(-1,1).T@v2.reshape(-1,1) # @ : 행렬곱 연산자

array([[20]])

In [ ]:
# 중복단어 개수세기
df = df.T
df.sent0.dot(df.sent1)

0

In [ ]:
df.sent0.dot(df.sent2)

1

In [ ]:
df.sent0.dot(df.sent3)

1

In [ ]:
# 내적이 1이되게한 단어를 찾기
[(k,v) for (k,v) in (df.sent0 & df.sent3).items() if v]

[('moticello', 1)]

In [ ]:
(df.sent0 & df.sent3).items()

In [ ]:
(df.sent0 & df.sent3)

thomas          0
jefferson       0
began           0
building        0
moticello       1
at              0
the             0
age             0
of              0
26.             0
construction    0
was             0
done            0
mostly          0
by              0
local           0
masons          0
and             0
carpenters.     0
he              0
moved           0
into            0
south           0
pavilion        0
in              0
1770.           0
turning         0
a               0
neoclassical    0
masterpiece     0
jefferson's     0
obsession.      0
dtype: int64

In [ ]:
import re 
sentence = """thomas jefferson began building moticello at the age of 26."""
tokens = re.split(r'[-\s.,;!?]+' , sentence) # 공백이나 몇가지 문장부호를 기준으로 분할함
tokens

#  정규식 파헤치기
# [] : 대괄호는 주어진 텍스트가 부합해야할 문자들의 집합을 지정함
# + : []다음 나오는 + , 주어진 문자 부류의 문자들이 하나이상 부합해야함을 뜻함
# \s : \\t\n\r\f\v 등의 공백문자들을 대표함
# \t 탭
# \r 캐리지 리턴
# \n 새줄
# \f 폼피드
# \v 수직탭 문자
# r'[a-z] , r'[0-9], r'[_a-zA-Z] : 밑줄문자나 영문소문자, 대문자와 부합함
# [-] : 정규 표현식의 까다로운 규칙에 해당함

['thomas',
 'jefferson',
 'began',
 'building',
 'moticello',
 'at',
 'the',
 'age',
 'of',
 '26',
 '']

In [ ]:
# 단어 분리를 위한 정규 표현식 개선
pattern = re.compile(r'([-\s.,;:!?])+')
tokens = pattern.split(sentence) 
tokens[-10:]

[' ', 'the', ' ', 'age', ' ', 'of', ' ', '26', '.', '']

In [ ]:
sentence = """thomas jefferson began building moticello at the age of 26."""
pattern = re.compile(r'([-\s.,;:!?])+')
tokens = pattern.split(sentence) 
[x for x in tokens if x and x not in '- \t\n.,;!?']

['thomas',
 'jefferson',
 'began',
 'building',
 'moticello',
 'at',
 'the',
 'age',
 'of',
 '26']

In [ ]:
# regex : 부합집합중첩, 다중 스레드 적용 유니코드 완벽지원, 근사 정규 표현식 부합, 더큰  maxcache(500개)

In [ ]:
# 주요 토큰화 라이브러리 
# spacy : 정확,유연, 빠름, 파이썬
# coreNLP : 스탠퍼드, 더욱 정확하지만 덜 유연, 빠름, JAVA8에 의존
# NLTK : 표준 라이브러리, 유명, 파이썬

In [ ]:
from nltk.tokenize import RegexpTokenizer 
tokenizer = RegexpTokenizer(r'\w+|$[0-9.]+|\S+')
tokenizer.tokenize(sentence)

['thomas',
 'jefferson',
 'began',
 'building',
 'moticello',
 'at',
 'the',
 'age',
 'of',
 '26',
 '.']

In [ ]:
# 좀더 강력한 토큰화 함수 :  treebandwordtokenizer, 소숫점, 축양형도 토큰화 가능
from nltk.tokenize import TreebankWordTokenizer
sentence = """Monticello wasn't designated as UNESCO World heritage site until 1987."""
tokenizer = TreebankWordTokenizer()

In [ ]:
tokenizer.tokenize(sentence)

['Monticello',
 'was',
 "n't",
 'designated',
 'as',
 'UNESCO',
 'World',
 'heritage',
 'site',
 'until',
 '1987',
 '.']

In [ ]:
# n-gram을 활용한 어휘 확장
#tokenize_2grams(sentence)

In [ ]:
from nltk.util import ngrams
tokens = [x for x in tokens if x and x not in '= \t\n.,;:!?']

list(ngrams(tokens,2))

[('thomas', 'jefferson'),
 ('jefferson', 'began'),
 ('began', 'building'),
 ('building', 'moticello'),
 ('moticello', 'at'),
 ('at', 'the'),
 ('the', 'age'),
 ('age', 'of'),
 ('of', '26')]

In [ ]:
list(ngrams(tokens,3))

[('thomas', 'jefferson', 'began'),
 ('jefferson', 'began', 'building'),
 ('began', 'building', 'moticello'),
 ('building', 'moticello', 'at'),
 ('moticello', 'at', 'the'),
 ('at', 'the', 'age'),
 ('the', 'age', 'of'),
 ('age', 'of', '26')]

In [ ]:
two_grams = list(ngrams(tokens,2))
[" ".join(x) for x in two_grams]

['thomas jefferson',
 'jefferson began',
 'began building',
 'building moticello',
 'moticello at',
 'at the',
 'the age',
 'age of',
 'of 26']

In [ ]:
stop_words = ['a','an','the','on','of','off','this','is']
tokens = ['the','house','is','on','fire'] 
tokens_without_stopwords = [x for x in tokens if x not in stop_words] 
tokens_without_stopwords

['house', 'fire']

In [ ]:
# nltk의 불용어 목록
import nltk
nltk.download('stopwords') 
stop_words = nltk.corpus.stopwords.words('english')
len(stop_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

179

In [ ]:
stop_words[:7]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours']

In [ ]:
# 여러 불용어 집합을 같이 사용하기
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words 
len(sklearn_stop_words)

318

In [ ]:
len(stop_words)

179

In [ ]:
# len(stop_words.union(sklearn_stop_words))

In [ ]:
# len(stop_words.intersection(sklearn_stop_words))

In [ ]:
tokens = ['House','Visitors','Center'] 
normalized_tokens = [x.lower() for x in tokens] 
print(normalized_tokens)

['house', 'visitors', 'center']

In [ ]:
# 정규화 : 재현율을 높여주지만, 정밀도를 낮춤
# 별로 관심없는 문서들이 검색결과에 포함될 가능성 생김
# 검색엔진을 위한 파이프라인을 구축할때는 두종류의 검색어에 맞는 두종류의 색인을 구축 (정규화 o/x)

In [ ]:
# 어간 추출(stemming)
# 영어의 어간추출은 단어들에서 접미사를 제거함으로써 의미가 비슷한 단어들을 하나의 공통어간으로 묶음
# 어간이 반드시 영어사전에 나오는 정확한 철자의 단어일 필요없음
# 어간추출은 문서에 담긴 정보와 의미를 최대한 유지하면서 어휘의 크기를 줄이는 방법
def stem(phrase):
  return ' '.join([re.findall('^(.*ss|.*?)(s)?$', word)[0][0].strip("'") for word in phrase.lower().split()])

  # 만일 단어가 하나의 s로 끝나면 어간은 단어에서 s를 제외한 부분이고 접미사는 S이다
  # 만일 단어가 s로 끝나지 않으면 어간은 그 단어 자체이고 접미사는 없다

In [ ]:
stem('houses')

'house'

In [ ]:
stem("Doctor House's calls")

'doctor house call'

In [ ]:
# 어간추출기
from nltk.stem.porter import PorterStemmer 
stemmer = PorterStemmer() 
' '.join([stemmer.stem(w).strip("'") for w in "dish washer's washed dishes".split()])

'dish washer wash dish'

In [ ]:
# 표제어 추출 (lemmatization) 
# 어근수준으로 내려가서 정규화하는것
# 차원축소를 하게 하지만 모형이 덜 정확해지는 단점이 있음
# 뿌리가 같지만 의미가 완전히 같지는 않은 여러 철자변형을 모두 같은 단어로 간주함
# chat, chatter, chatty, chatting을 똑같이 취급
# 단어의 의미를 고려해서 단어들을 정규화한다는 점에서 표제어 추출은 어간추출이나 대소문자 정규화보다 좀더 정확한 정규화 방법이라 할 수있음

In [ ]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()
lemmatizer.lemmatize("better")  # 명사로 판단

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

'better'

In [ ]:
lemmatizer.lemmatize("better",pos="a")

'good'

In [ ]:
lemmatizer.lemmatize("goods", pos="n")

'good'

In [ ]:
lemmatizer.lemmatize("goods", pos="a")

'goods'

In [ ]:
lemmatizer.lemmatize("best", pos="a")

'best'

In [ ]:
# 일반적으로 어간 추출이 표제어 추출보다 더 빠르고 필요한 코드와 자료집합도 덜 복잡함
# 둘다 어휘의 크기를 줄이는 대신 텍스트의 중의성을 높인다.

In [ ]:
# 감정분석
# VADER알고리즘이 사용되곤함
# 규칙 기반 감정 분석기
# Valence aware dictionary for sentiment reasoning 
# nltk.sentiment.vader 로 사용가능함
!pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 4.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
sa = SentimentIntensityAnalyzer()

In [ ]:
sa.lexicon # 토큰 감정 점수 쌍들이 들어있음

{'$:': -1.5,
 '%)': -0.4,
 '%-)': -1.5,
 '&-:': -0.4,
 '&:': -0.7,
 "( '}{' )": 1.6,
 '(%': -0.9,
 "('-:": 2.2,
 "(':": 2.3,
 '((-:': 2.1,
 '(*': 1.1,
 '(-%': -0.7,
 '(-*': 1.3,
 '(-:': 1.6,
 '(-:0': 2.8,
 '(-:<': -0.4,
 '(-:o': 1.5,
 '(-:O': 1.5,
 '(-:{': -0.1,
 '(-:|>*': 1.9,
 '(-;': 1.3,
 '(-;|': 2.1,
 '(8': 2.6,
 '(:': 2.2,
 '(:0': 2.4,
 '(:<': -0.2,
 '(:o': 2.5,
 '(:O': 2.5,
 '(;': 1.1,
 '(;<': 0.3,
 '(=': 2.2,
 '(?:': 2.1,
 '(^:': 1.5,
 '(^;': 1.5,
 '(^;0': 2.0,
 '(^;o': 1.9,
 '(o:': 1.6,
 ")':": -2.0,
 ")-':": -2.1,
 ')-:': -2.1,
 ')-:<': -2.2,
 ')-:{': -2.1,
 '):': -1.8,
 '):<': -1.9,
 '):{': -2.3,
 ');<': -2.6,
 '*)': 0.6,
 '*-)': 0.3,
 '*-:': 2.1,
 '*-;': 2.4,
 '*:': 1.9,
 '*<|:-)': 1.6,
 '*\\0/*': 2.3,
 '*^:': 1.6,
 ',-:': 1.2,
 "---'-;-{@": 2.3,
 '--<--<@': 2.2,
 '.-:': -1.2,
 '..###-:': -1.7,
 '..###:': -1.9,
 '/-:': -1.3,
 '/:': -1.3,
 '/:<': -1.4,
 '/=': -0.9,
 '/^:': -1.0,
 '/o:': -1.4,
 '0-8': 0.1,
 '0-|': -1.2,
 '0:)': 1.9,
 '0:-)': 1.4,
 '0:-3': 1.5,
 '0:03': 1.9,
 '0;^)': 1.6,
 '0_o': -0.3,
 '10q': 2.1,
 '1337': 2.1,
 '143': 3.2,
 '1432': 2.6,
 '14aa41': 2.4,
 '182': -2.9,
 '187': -3.1,
 '2g2b4g': 2.8,
 '2g2bt': -0.1,
 '2qt': 2.1,
 '3:(': -2.2,
 '3:)': 0.5,
 '3:-(': -2.3,
 '3:-)': -1.4,
 '4col': -2.2,
 '4q': -3.1,
 '5fs': 1.5,
 '8)': 1.9,
 '8-d': 1.7,
 '8-o': -0.3,
 '86': -1.6,
 '8d': 2.9,
 ':###..': -2.4,
 ':$': -0.2,
 ':&': -0.6,
 ":'(": -2.2,
 ":')": 2.3,
 ":'-(": -2.4,
 ":'-)": 2.7,
 ':(': -1.9,
 ':)': 2.0,
 ':*': 2.5,
 ':-###..': -2.5,
 ':-&': -0.5,
 ':-(': -1.5,
 ':-)': 1.3,
 ':-))': 2.8,
 ':-*': 1.7,
 ':-,': 1.1,
 ':-.': -0.9,
 ':-/': -1.2,
 ':-<': -1.5,
 ':-d': 2.3,
 ':-D': 2.3,
 ':-o': 0.1,
 ':-p': 1.5,
 ':-[': -1.6,
 ':-\\': -0.9,
 ':-c': -1.3,
 ':-|': -0.7,
 ':-||': -2.5,
 ':-Þ': 0.9,
 ':/': -1.4,
 ':3': 2.3,
 ':<': -2.1,
 ':>': 2.1,
 ':?)': 1.3,
 ':?c': -1.6,
 ':@': -2.5,
 ':d': 2.3,
 ':D': 2.3,
 ':l': -1.7,
 ':o': -0.4,
 ':p': 1.0,
 ':s': -1.2,
 ':[': -2.0,
 ':\\': -1.3,
 ':]': 2.2,
 ':^)': 2.1,
 ':^*': 2.6,
 ':^/': -1.2,
 ':^\\': -1.0,
 ':^|': -1.0,
 ':c': -2.1,
 ':c)': 2.0,
 ':o)': 2.1,
 ':o/': -1.4,
 ':o\\': -1.1,
 ':o|': -0.6,
 ':P': 1.4,
 ':{': -1.9,
 ':|': -0.4,
 ':}': 2.1,
 ':Þ': 1.1,
 ';)': 0.9,
 ';-)': 1.0,
 ';-*': 2.2,
 ';-]': 0.7,
 ';d': 0.8,
 ';D': 0.8,
 ';]': 0.6,
 ';^)': 1.4,
 '</3': -3.0,
 '<3': 1.9,
 '<:': 2.1,
 '<:-|': -1.4,
 '=)': 2.2,
 '=-3': 2.0,
 '=-d': 2.4,
 '=-D': 2.4,
 '=/': -1.4,
 '=3': 2.1,
 '=d': 2.3,
 '=D': 2.3,
 '=l': -1.2,
 '=\\': -1.2,
 '=]': 1.6,
 '=p': 1.3,
 '=|': -0.8,
 '>-:': -2.0,
 '>.<': -1.3,
 '>:': -2.1,
 '>:(': -2.7,
 '>:)': 0.4,
 '>:-(': -2.7,
 '>:-)': -0.4,
 '>:/': -1.6,
 '>:o': -1.2,
 '>:p': 1.0,
 '>:[': -2.1,
 '>:\\': -1.7,
 '>;(': -2.9,
 '>;)': 0.1,
 '>_>^': 2.1,
 '@:': -2.1,
 '@>-->--': 2.1,
 "@}-;-'---": 2.2,
 'aas': 2.5,
 'aayf': 2.7,
 'afu': -2.9,
 'alol': 2.8,
 'ambw': 2.9,
 'aml': 3.4,
 'atab': -1.9,
 'awol': -1.3,
 'ayc': 0.2,
 'ayor': -1.2,
 'aug-00': 0.3,
 'bfd': -2.7,
 'bfe': -2.6,
 'bff': 2.9,
 'bffn': 1.0,
 'bl': 2.3,
 'bsod': -2.2,
 'btd': -2.1,
 'btdt': -0.1,
 'bz': 0.4,
 'b^d': 2.6,
 'cwot': -2.3,
 "d-':": -2.5,
 'd8': -3.2,
 'd:': 1.2,
 'd:<': -3.2,
 'd;': -2.9,
 'd=': 1.5,
 'doa': -2.3,
 'dx': -3.0,
 'ez': 1.5,
 'fav': 2.0,
 'fcol': -1.8,
 'ff': 1.8,
 'ffs': -2.8,
 'fkm': -2.4,
 'foaf': 1.8,
 'ftw': 2.0,
 'fu': -3.7,
 'fubar': -3.0,
 'fwb': 2.5,
 'fyi': 0.8,
 'fysa': 0.4,
 'g1': 1.4,
 'gg': 1.2,
 'gga': 1.7,
 'gigo': -0.6,
 'gj': 2.0,
 'gl': 1.3,
 'gla': 2.5,
 'gn': 1.2,
 'gr8': 2.7,
 'grrr': -0.4,
 'gt': 1.1,
 'h&k': 2.3,
 'hagd': 2.2,
 'hagn': 2.2,
 'hago': 1.2,
 'hak': 1.9,
 'hand': 2.2,
 'heart': 3.2,
 'hearts': 3.3,
 'hho1/2k': 1.4,
 'hhoj': 2.0,
 'hhok': 0.9,
 'hugz': 2.0,
 'hi5': 1.9,
 'idk': -0.4,
 'ijs': 0.7,
 'ilu': 3.4,
 'iluaaf': 2.7,
 'ily': 3.4,
 'ily2': 2.6,
 'iou': 0.7,
 'iyq': 2.3,
 'j/j': 2.0,
 'j/k': 1.6,
 'j/p': 1.4,
 'j/t': -0.2,
 'j/w': 1.0,
 'j4f': 1.4,
 'j4g': 1.7,
 'jho': 0.8,
 'jhomf': 1.0,
 'jj': 1.0,
 'jk': 0.9,
 'jp': 0.8,
 'jt': 0.9,
 'jw': 1.6,
 'jealz': -1.2,
 'k4y': 2.3,
 'kfy': 2.3,
 'kia': -3.2,
 'kk': 1.5,
 'kmuf': 2.2,
 'l': 2.0,
 'l&r': 2.2,
 'laoj': 1.3,
 'lmao': 2.9,
 'lmbao': 1.8,
 'lmfao': 2.5,
 'lmso': 2.7,
 'lol': 1.8,
 'lolz': 2.7,
 'lts': 1.6,
 'ly': 2.6,
 'ly4e': 2.7,
 'lya': 3.3,
 'lyb': 3.0,
 'lyl': 3.1,
 'lylab': 2.7,
 'lylas': 2.6,
 'lylb': 1.6,
 'm8': 1.4,
 'mia': -1.2,
 'mml': 2.0,
 'mofo': -2.4,
 'muah': 2.3,
 'mubar': -1.0,
 'musm': 0.9,
 'mwah': 2.5,
 'n1': 1.9,
 'nbd': 1.3,
 'nbif': -0.5,
 'nfc': -2.7,
 'nfw': -2.4,
 'nh': 2.2,
 'nimby': -0.8,
 'nimjd': -0.7,
 'nimq': -0.2,
 'nimy': -1.4,
 'nitl': -1.5,
 'nme': -2.1,
 'noyb': -0.7,
 'np': 1.4,
 'ntmu': 1.4,
 'o-8': -0.5,
 'o-:': -0.3,
 'o-|': -1.1,
 'o.o': -0.8,
 'O.o': -0.6,
 'o.O': -0.6,
 'o:': -0.2,
 'o:)': 1.5,
 'o:-)': 2.0,
 'o:-3': 2.2,
 'o:3': 2.3,
 'o:<': -0.3,
 'o;^)': 1.6,
 'ok': 1.2,
 'o_o': -0.5,
 'O_o': -0.5,
 'o_O': -0.5,
 'pita': -2.4,
 'pls': 0.3,
 'plz': 0.3,
 'pmbi': 0.8,
 'pmfji': 0.3,
 'pmji': 0.7,
 'po': -2.6,
 'ptl': 2.6,
 'pu': -1.1,
 'qq': -2.2,
 'qt': 1.8,
 'r&r': 2.4,
 'rofl': 2.7,
 'roflmao': 2.5,
 'rotfl': 2.6,
 'rotflmao': 2.8,
 'rotflmfao': 2.5,
 'rotflol': 3.0,
 'rotgl': 2.9,
 'rotglmao': 1.8,
 's:': -1.1,
 'sapfu': -1.1,
 'sete': 2.8,
 'sfete': 2.7,
 'sgtm': 2.4,
 'slap': 0.6,
 'slaw': 2.1,
 'smh': -1.3,
 'snafu': -2.5,
 'sob': -1.0,
 'swak': 2.3,
 'tgif': 2.3,
 'thks': 1.4,
 'thx': 1.5,
 'tia': 2.3,
 'tmi': -0.3,
 'tnx': 1.1,
 'true': 1.8,
 'tx': 1.5,
 'txs': 1.1,
 'ty': 1.6,
 'tyvm': 2.5,
 'urw': 1.9,
 'vbg': 2.1,
 'vbs': 3.1,
 'vip': 2.3,
 'vwd': 2.6,
 'vwp': 2.1,
 'wag': -0.2,
 'wd': 2.7,
 'wilco': 0.9,
 'wp': 1.0,
 'wtf': -2.8,
 'wtg': 2.1,
 'wth': -2.4,
 'x-d': 2.6,
 'x-p': 1.7,
 'xd': 2.8,
 'xlnt': 3.0,
 'xoxo': 3.0,
 'xoxozzz': 2.3,
 'xp': 1.6,
 'xqzt': 1.6,
 'xtc': 0.8,
 'yolo': 1.1,
 'yoyo': 0.4,
 'yvw': 1.6,
 'yw': 1.8,
 'ywia': 2.5,
 'zzz': -1.2,
 '[-;': 0.5,
 '[:': 1.3,
 '[;': 1.0,
 '[=': 1.7,
 '\\-:': -1.0,
 '\\:': -1.0,
 '\\:<': -1.7,
 '\\=': -1.1,
 '\\^:': -1.3,
 '\\o/': 2.2,
 '\\o:': -1.2,
 ']-:': -2.1,
 ']:': -1.6,
 ']:<': -2.5,
 '^<_<': 1.4,
 '^urs': -2.8,
 'abandon': -1.9,
 'abandoned': -2.0,
 'abandoner': -1.9,
 'abandoners': -1.9,
 'abandoning': -1.6,
 'abandonment': -2.4,
 'abandonments': -1.7,
 'abandons': -1.3,
 'abducted': -2.3,
 'abduction': -2.8,
 'abductions': -2.0,
 'abhor': -2.0,
 'abhorred': -2.4,
 'abhorrent': -3.1,
 'abhors': -2.9,
 'abilities': 1.0,
 'ability': 1.3,
 'aboard': 0.1,
 'absentee': -1.1,
 'absentees': -0.8,
 'absolve': 1.2,
 'absolved': 1.5,
 'absolves': 1.3,
 'absolving': 1.6,
 'abuse': -3.2,
 'abused': -2.3,
 'abuser': -2.6,
 'abusers': -2.6,
 'abuses': -2.6,
 'abusing': -2.0,
 'abusive': -3.2,
 'abusively': -2.8,
 'abusiveness': -2.5,
 'abusivenesses': -3.0,
 'accept': 1.6,
 'acceptabilities': 1.6,
 'acceptability': 1.1,
 'acceptable': 1.3,
 'acceptableness': 1.3,
 'acceptably': 1.5,
 'acceptance': 2.0,
 'acceptances': 1.7,
 'acceptant': 1.6,
 'acceptation': 1.3,
 'acceptations': 0.9,
 'accepted': 1.1,
 'accepting': 1.6,
 'accepts': 1.3,
 'accident': -2.1,
 'accidental': -0.3,
 'accidentally': -1.4,
 'accidents': -1.3,
 'accomplish': 1.8,
 'accomplished': 1.9,
 'accomplishes': 1.7,
 'accusation': -1.0,
 'accusations': -1.3,
 'accuse': -0.8,
 'accused': -1.2,
 'accuses': -1.4,
 'accusing': -0.7,
 'ache': -1.6,
 'ached': -1.6,
 'aches': -1.0,
 'achievable': 1.3,
 'aching': -2.2,
 'acquit': 0.8,
 'acquits': 0.1,
 'acquitted': 1.0,
 'acquitting': 1.3,
 'acrimonious': -1.7,
 'active': 1.7,
 'actively': 1.3,
 'activeness': 0.6,
 'activenesses': 0.8,
 'actives': 1.1,
 'adequate': 0.9,
 'admirability': 2.4,
 'admirable': 2.6,
 'admirableness': 2.2,
 'admirably': 2.5,
 'admiral': 1.3,
 'admirals': 1.5,
 'admiralties': 1.6,
 'admiralty': 1.2,
 'admiration': 2.5,
 'admirations': 1.6,
 'admire': 2.1,
 'admired': 2.3,
 'admirer': 1.8,
 'admirers': 1.7,
 'admires': 1.5,
 'admiring': 1.6,
 'admiringly': 2.3,
 'admit': 0.8,
 'admits': 1.2,
 'admitted': 0.4,
 'admonished': -1.9,
 'adopt': 0.7,
 'adopts': 0.7,
 'adorability': 2.2,
 'adorable': 2.2,
 'adorableness': 2.5,
 'adorably': 2.1,
 'adoration': 2.9,
 'adorations': 2.2,
 'adore': 2.6,
 'adored': 1.8,
 'adorer': 1.7,
 'adorers': 2.1,
 'adores': 1.6,
 'adoring': 2.6,
 'adoringly': 2.4,
 'adorn': 0.9,
 'adorned': 0.8,
 'adorner': 1.3,
 'adorners': 0.9,
 'adorning': 1.0,
 'adornment': 1.3,
 'adornments': 0.8,
 'adorns': 0.5,
 'advanced': 1.0,
 'advantage': 1.0,
 'advantaged': 1.4,
 'advantageous': 1.5,
 'advantageously': 1.9,
 'advantageousness': 1.6,
 'advantages': 1.5,
 'advantaging': 1.6,
 'adventure': 1.3,
 'adventured': 1.3,
 'adventurer': 1.2,
 'adventurers': 0.9,
 'adventures': 1.4,
 'adventuresome': 1.7,
 'adventuresomeness': 1.3,
 'adventuress': 0.8,
 'adventuresses': 1.4,
 'adventuring': 2.3,
 'adventurism': 1.5,
 'adventurist': 1.4,
 'adventuristic': 1.7,
 'adventurists': 1.2,
 'adventurous': 1.4,
 'adventurously': 1.3,
 'adventurousness': 1.8,
 'adversarial': -1.5,
 'adversaries': -1.0,
 'adversary': -0.8,
 'adversative': -1.2,
 'adversatively': -0.1,
 'adversatives': -1.0,
 'adverse': -1.5,
 'adversely': -0.8,
 'adverseness': -0.6,
 'adversities': -1.5,
 'adversity': -1.8,
 'affected': -0.6,
 'affection': 2.4,
 'affectional': 1.9,
 'affectionally': 1.5,
 'affectionate': 1.9,
 'affectionately': 2.2,
 'affectioned': 1.8,
 'affectionless': -2.0,
 'affections': 1.5,
 'afflicted': -1.5,
 'affronted': 0.2,
 'aggravate': -2.5,
 'aggravated': -1.9,
 'aggravates': -1.9,
 'aggravating': -1.2,
 'aggress': -1.3,
 'aggressed': -1.4,
 'aggresses': -0.5,
 'aggressing': -0.6,
 'aggression': -1.2,
 'aggressions': -1.3,
 'aggressive': -0.6,
 'aggressively': -1.3,
 'aggressiveness': -1.8,
 'aggressivities': -1.4,
 'aggressivity': -0.6,
 'aggressor': -0.8,
 'aggressors': -0.9,
 'aghast': -1.9,
 'agitate': -1.7,
 'agitated': -2.0,
 'agitatedly': -1.6,
 'agitates': -1.4,
 'agitating': -1.8,
 'agitation': -1.0,
 'agitational': -1.2,
 'agitations': -1.3,
 'agitative': -1.3,
 'agitato': -0.1,
 'agitator': -1.4,
 'agitators': -2.1,
 'agog': 1.9,
 'agonise': -2.1,
 'agonised': -2.3,
 'agonises': -2.4,
 'agonising': -1.5,
 'agonize': -2.3,
 'agonized': -2.2,
 'agonizes': -2.3,
 'agonizing': -2.7,
 'agonizingly': -2.3,
 'agony': -1.8,
 'agree': 1.5,
 'agreeability': 1.9,
 'agreeable': 1.8,
 'agreeableness': 1.8,
 'agreeablenesses': 1.3,
 'agreeably': 1.6,
 'agreed': 1.1,
 'agreeing': 1.4,
 'agreement': 2.2,
 'agreements': 1.1,
 'agrees': 0.8,
 'alarm': -1.4,
 'alarmed': -1.4,
 'alarming': -0.5,
 'alarmingly': -2.6,
 'alarmism': -0.3,
 'alarmists': -1.1,
 'alarms': -1.1,
 'alas': -1.1,
 'alert': 1.2,
 'alienation': -1.1,
 'alive': 1.6,
 'allergic': -1.2,
 'allow': 0.9,
 'alone': -1.0,
 'alright': 1.0,
 'amaze': 2.5,
 'amazed': 2.2,
 'amazedly': 2.1,
 'amazement': 2.5,
 'amazements': 2.2,
 'amazes': 2.2,
 'amazing': 2.8,
 'amazon': 0.7,
 'amazonite': 0.2,
 'amazons': -0.1,
 'amazonstone': 1.0,
 'amazonstones': 0.2,
 'ambitious': 2.1,
 'ambivalent': 0.5,
 'amor': 3.0,
 'amoral': -1.6,
 'amoralism': -0.7,
 'amoralisms': -0.7,
 'amoralities': -1.2,
 'amorality': -1.5,
 'amorally': -1.0,
 'amoretti': 0.2,
 'amoretto': 0.6,
 'amorettos': 0.3,
 'amorino': 1.2,
 'amorist': 1.6,
 'amoristic': 1.0,
 'amorists': 0.1,
 'amoroso': 2.3,
 'amorous': 1.8,
 'amorously': 2.3,
 'amorousness': 2.0,
 'amorphous': -0.2,
 'amorphously': 0.1,
 'amorphousness': 0.3,
 'amort': -2.1,
 'amortise': 0.5,
 'amortised': -0.2,
 'amortises': 0.1,
 'amortizable': 0.5,
 'amortization': 0.6,
 'amortizations': 0.2,
 'amortize': -0.1,
 'amortized': 0.8,
 'amortizes': 0.6,
 'amortizing': 0.8,
 'amusable': 0.7,
 'amuse': 1.7,
 'amused': 1.8,
 'amusedly': 2.2,
 'amusement': 1.5,
 'amusements': 1.5,
 'amuser': 1.1,
 'amusers': 1.3,
 'amuses': 1.7,
 'amusia': 0.3,
 'amusias': -0.4,
 'amusing': 1.6,
 'amusingly': 0.8,
 'amusingness': 1.8,
 'amusive': 1.7,
 'anger': -2.7,
 'angered': -2.3,
 'angering': -2.2,
 'angerly': -1.9,
 'angers': -2.3,
 'angrier': -2.3,
 'angriest': -3.1,
 'angrily': -1.8,
 'angriness': -1.7,
 'angry': -2.3,
 'anguish': -2.9,
 'anguished': -1.8,
 'anguishes': -2.1,
 'anguishing': -2.7,
 'animosity': -1.9,
 'annoy': -1.9,
 'annoyance': -1.3,
 'annoyances': -1.8,
 'annoyed': -1.6,
 'annoyer': -2.2,
 'annoyers': -1.5,
 'annoying': -1.7,
 'annoys': -1.8,
 'antagonism': -1.9,
 'antagonisms': -1.2,
 'antagonist': -1.9,
 'antagonistic': -1.7,
 'antagonistically': -2.2,
 'antagonists': -1.7,
 'antagonize': -2.0,
 'antagonized': -1.4,
 'antagonizes': -0.5,
 'antagonizing': -2.7,
 'anti': -1.3,
 'anticipation': 0.4,
 'anxieties': -0.6,
 'anxiety': -0.7,
 'anxious': -1.0,
 'anxiously': -0.9,
 'anxiousness': -1.0,
 'aok': 2.0,
 'apathetic': -1.2,
 'apathetically': -0.4,
 'apathies': -0.6,
 'apathy': -1.2,
 'apeshit': -0.9,
 'apocalyptic': -3.4,
 'apologise': 1.6,
 'apologised': 0.4,
 'apologises': 0.8,
 'apologising': 0.2,
 'apologize': 0.4,
 'apologized': 1.3,
 'apologizes': 1.5,
 'apologizing': -0.3,
 'apology': 0.2,
 'appall': -2.4,
 'appalled': -2.0,
 'appalling': -1.5,
 'appallingly': -2.0,
 'appalls': -1.9,
 'appease': 1.1,
 'appeased': 0.9,
 'appeases': 0.9,
 'appeasing': 1.0,
 'applaud': 2.0,
 'applauded': 1.5,
 'applauding': 2.1,
 'applauds': 1.4,
 'applause': 1.8,
 'appreciate': 1.7,
 'appreciated': 2.3,
 'appreciates': 2.3,
 'appreciating': 1.9,
 'appreciation': 2.3,
 'appreciations': 1.7,
 'appreciative': 2.6,
 'appreciatively': 1.8,
 'appreciativeness': 1.6,
 'appreciator': 2.6,
 'appreciators': 1.5,
 'appreciatory': 1.7,
 'apprehensible': 1.1,
 'apprehensibly': -0.2,
 'apprehension': -2.1,
 'apprehensions': -0.9,
 'apprehensively': -0.3,
 'apprehensiveness': -0.7,
 'approval': 2.1,
 'approved': 1.8,
 'approves': 1.7,
 'ardent': 2.1,
 'arguable': -1.0,
 'arguably': -1.0,
 'argue': -1.4,
 'argued': -1.5,
 'arguer': -1.6,
 'arguers': -1.4,
 'argues': -1.6,
 'arguing': -2.0,
 'argument': -1.5,
 'argumentative': -1.5,
 'argumentatively': -1.8,
 'argumentive': -1.5,
 'arguments': -1.7,
 'arrest': -1.4,
 'arrested': -2.1,
 'arrests': -1.9,
 'arrogance': -2.4,
 'arrogances': -1.9,
 'arrogant': -2.2,
 'arrogantly': -1.8,
 'ashamed': -2.1,
 'ashamedly': -1.7,
 'ass': -2.5,
 'assassination': -2.9,
 'assassinations': -2.7,
 'assault': -2.8,
 'assaulted': -2.4,
 'assaulting': -2.3,
 'assaultive': -2.8,
 'assaults': -2.5,
 'asset': 1.5,
 'assets': 0.7,
 'assfucking': -2.5,
 'assholes': -2.8,
 'assurance': 1.4,
 'assurances': 1.4,
 'assure': 1.4,
 'assured': 1.5,
 'assuredly': 1.6,
 'assuredness': 1.4,
 'assurer': 0.9,
 'assurers': 1.1,
 'assures': 1.3,
 'assurgent': 1.3,
 'assuring': 1.6,
 'assuror': 0.5,
 'assurors': 0.7,
 'astonished': 1.6,
 'astound': 1.7,
 'astounded': 1.8,
 'astounding': 1.8,
 'astoundingly': 2.1,
 'astounds': 2.1,
 'attachment': 1.2,
 'attachments': 1.1,
 'attack': -2.1,
 'attacked': -2.0,
 'attacker': -2.7,
 'attackers': -2.7,
 'attacking': -2.0,
 'attacks': -1.9,
 'attract': 1.5,
 'attractancy': 0.9,
 'attractant': 1.3,
 'attractants': 1.4,
 'attracted': 1.8,
 'attracting': 2.1,
 'attraction': 2.0,
 'attractions': 1.8,
 'attractive': 1.9,
 'attractively': 2.2,
 'attractiveness': 1.8,
 'attractivenesses': 2.1,
 'attractor': 1.2,
 'attractors': 1.2,
 'attracts': 1.7,
 'audacious': 0.9,
 'authority': 0.3,
 'aversion': -1.9,
 'aversions': -1.1,
 'aversive': -1.6,
 'aversively': -0.8,
 'avert': -0.7,
 'averted': -0.3,
 'averts': -0.4,
 'avid': 1.2,
 'avoid': -1.2,
 'avoidance': -1.7,
 'avoidances': -1.1,
 'avoided': -1.4,
 'avoider': -1.8,
 'avoiders': -1.4,
 'avoiding': -1.4,
 'avoids': -0.7,
 'await': 0.4,
 'awaited': -0.1,
 'awaits': 0.3,
 'award': 2.5,
 'awardable': 2.4,
 'awarded': 1.7,
 'awardee': 1.8,
 'awardees': 1.2,
 'awarder': 0.9,
 'awarders': 1.3,
 'awarding': 1.9,
 'awards': 2.0,
 'awesome': 3.1,
 'awful': -2.0,
 'awkward': -0.6,
 'awkwardly': -1.3,
 'awkwardness': -0.7,
 'axe': -0.4,
 'axed': -1.3,
 'backed': 0.1,
 'backing': 0.1,
 'backs': -0.2,
 'bad': -2.5,
 'badass': 1.4,
 'badly': -2.1,
 'bailout': -0.4,
 'bamboozle': -1.5,
 'bamboozled': -1.5,
 'bamboozles': -1.5,
 'ban': -2.6,
 'banish': -1.9,
 'bankrupt': -2.6,
 'bankster': -2.1,
 'banned': -2.0,
 'bargain': 0.8,
 'barrier': -0.5,
 'bashful': -0.1,
 'bashfully': 0.2,
 'bashfulness': -0.8,
 'bastard': -2.5,
 'bastardies': -1.8,
 'bastardise': -2.1,
 'bastardised': -2.3,
 'bastardises': -2.3,
 'bastardising': -2.6,
 'bastardization': -2.4,
 'bastardizations': -2.1,
 'bastardize': -2.4,
 'bastardized': -2.0,
 'bastardizes': -1.8,
 'bastardizing': -2.3,
 'bastardly': -2.7,
 'bastards': -3.0,
 'bastardy': -2.7,
 'battle': -1.6,
 'battled': -1.2,
 'battlefield': -1.6,
 'battlefields': -0.9,
 'battlefront': -1.2,
 'battlefronts': -0.8,
 'battleground': -1.7,
 'battlegrounds': -0.6,
 'battlement': -0.4,
 'battlements': -0.4,
 'battler': -0.8,
 'battlers': -0.2,
 'battles': -1.6,
 'battleship': -0.1,
 'battleships': -0.5,
 'battlewagon': -0.3,
 'battlewagons': -0.5,
 'battling': -1.1,
 'beaten': -1.8,
 'beatific': 1.8,
 'beating': -2.0,
 'beaut': 1.6,
 'beauteous': 2.5,
 'beauteously': 2.6,
 ...}

In [ ]:
sa.polarity_scores(text={':(': -1.9, ':)': 2.0})

{'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}

In [ ]:
[(tok, score) for tok, score in sa.lexicon.items() if " " in tok] # 7500개 정의된것 중에서 빈칸이 포함된것은 세개뿐

[("( '}{' )", 1.6),
 ("can't stand", -2.0),
 ('fed up', -1.8),
 ('screwed up', -1.5)]

In [ ]:
sa.polarity_scores(text="python is very readable and it's great for NLP.")

{'compound': 0.6249, 'neg': 0.0, 'neu': 0.661, 'pos': 0.339}

In [ ]:
sa.polarity_scores(text="Python is not a bad choice for most applications")

{'compound': 0.431, 'neg': 0.0, 'neu': 0.737, 'pos': 0.263}

In [ ]:
corpus = ["absolutely perfect love it :-) :-) :-)",
          "horrible! completely useless. :(",
          "it was ok some good and some bad things"
          ]
for doc in corpus:
  scores=sa.polarity_scores(doc)
  print('{:+}:{}'.format(scores['compound'], doc))

+0.9368:absolutely perfect love it :-) :-) :-)
-0.8768:horrible! completely useless. :(
+0.1531:it was ok some good and some bad things

In [ ]:
# vader의 단점은 모든 단어가 아니라 약 7500개 단어만 고려한다는것

In [ ]:
# 단순 베이즈 모
# 감정 분석의 경우 목표변수는 평가하고자 하는 감정
# VADER처럼 규칙기반 감정분석기와는 달리 사람이 개별 단어들에 대해 일일이 감정 점수를 지정해 둘 필요가 없음
# 임의의 문제에 대해 최선의 감정점수를 찾아냄
# 언어모델을 사용해 문장생성을 수행

In [ ]:
from nlpia.loaders import get_data

/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:136: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  [datetime.datetime, pd.datetime, pd.Timestamp])
/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:158: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  MIN_TIMESTAMP = pd.Timestamp(pd.datetime(1677, 9, 22, 0, 12, 44), tz='utc')
/usr/local/lib/python3.7/dist-packages/pugnlp/tutil.py:100: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/pugnlp/util.py:80: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/futil.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/loaders.py:78: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np

In [ ]:
movies =get_data("hutto_movies")
movies.head().round(2)

    sentiment                                               text
id
1        2.27  The Rock is destined to be the 21st Century's ...
2        3.53  The gorgeously elaborate continuation of ''The...
3       -0.60                     Effective but too tepid biopic
4        1.47  If you sometimes like to go to the movies to h...
5        1.73  Emerges as something rare, an issue movie that...

In [ ]:
import pandas as pd
pd.set_option('display.width', 75)  # dataframe의 내용이 좀더 보기좋게 변함
from nltk.tokenize import casual_tokenize # 이모티콘과 비표준적인 문장부호, 비속어를 더 잘처리함
bags_of_words = []
from collections import Counter
for text in movies.text:
  bags_of_words.append(Counter(casual_tokenize(text)))

In [ ]:
df_bows = pd.DataFrame.from_records(bags_of_words)

In [ ]:
df_bows = df_bows.fillna(0).astype(int)

df_bows.shape

(10605, 20756)

In [ ]:
df_bows.head()

,The,Rock,is,destined,to,be,the,21st,Century's,new,...,Ill,slummer,Rashomon,dipsticks,Bearable,Staggeringly,’,ve,muttering,dissing
0,1,1,1,1,2,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_bows.head()[list(bags_of_words[0].keys())]

,The,Rock,is,destined,to,be,the,21st,Century's,new,...,Schwarzenegger,",",Jean,Claud,Van,Damme,or,Steven,Segal,.
0,1,1,1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,2,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,4,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
# 베이즈 모델을 활용한 감정분석
from sklearn.naive_bayes import MultinomialNB 
nb = MultinomialNB()
nb = nb.fit(df_bows, movies.sentiment > 0) 
nb

MultinomialNB()

In [ ]:
movies.sentiment > 0

id
1         True
2         True
3        False
4         True
5         True
         ...
10601    False
10602    False
10603    False
10604     True
10605    False
Name: sentiment, Length: 10605, dtype: bool

In [ ]:
movies

       sentiment                                               text
id
1       2.266667  The Rock is destined to be the 21st Century's ...
2       3.533333  The gorgeously elaborate continuation of ''The...
3      -0.600000                     Effective but too tepid biopic
4       1.466667  If you sometimes like to go to the movies to h...
5       1.733333  Emerges as something rare, an issue movie that...
...          ...                                                ...
10601  -0.062500                        Well made but mush hearted.
10602  -1.500000                                     A real snooze.
10603  -0.625000                                      No surprises.
10604   1.437500  We’ve seen the hippie turned yuppie plot befor...
10605  -1.812500  Her fans walked out muttering words like ''hor...

[10605 rows x 2 columns]

In [ ]:
df_bows

,The,Rock,is,destined,to,be,the,21st,Century's,new,...,Ill,slummer,Rashomon,dipsticks,Bearable,Staggeringly,’,ve,muttering,dissing
0,1,1,1,1,2,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10602,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10603,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,2,1,0,0
10604,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [ ]:
movies['predicted_sentiment'] = nb.predict_proba(df_bows)[:,1] * 8 -4

In [ ]:
nb.predict_proba(df_bows) * 8 -4

array([[-2.51151475,  2.51151475],
       [-3.9999042 ,  3.9999042 ],
       [ 3.655976  , -3.655976  ],
       ...,
       [ 1.48144924, -1.48144924],
       [-3.98898791,  3.98898791],
       [ 3.99795422, -3.99795422]])

In [ ]:
movies.head()

,sentiment,text,predicted_sentiment
id,,,
1,2.266667,The Rock is destined to be the 21st Century's ...,2.511515
2,3.533333,The gorgeously elaborate continuation of ''The...,3.999904
3,-0.600000,Effective but too tepid biopic,-3.655976
4,1.466667,If you sometimes like to go to the movies to h...,1.940954
5,1.733333,"Emerges as something rare, an issue movie that...",3.910373

In [ ]:
movies['error'] = (movies.predicted_sentiment - movies.sentiment).abs()

In [ ]:
movies.error.mean()

1.869883754974617

In [ ]:
movies['sentiment_ispositive'] = (movies.sentiment>0).astype(int) 
movies['predicted_ispositive'] = (movies.predicted_sentiment >0).astype(int)
movies['''sentiment predicted_sentiment sentiment_ispositive predicted_ispositive'''.split()].head(8)

,sentiment,predicted_sentiment,sentiment_ispositive,predicted_ispositive
id,,,,
1,2.266667,2.511515,1,1
2,3.533333,3.999904,1,1
3,-0.600000,-3.655976,0,0
4,1.466667,1.940954,1,1
5,1.733333,3.910373,1,1
6,2.533333,3.995188,1,1
7,2.466667,3.960466,1,1
8,1.266667,-1.918701,1,0

In [ ]:
(movies.predicted_ispositive == movies.sentiment_ispositive).sum() / len(movies)
# 긍정적 추천평가는 93%경우에 정확

0.9344648750589345

In [ ]:
products = get_data("hutto_products")
bags_of_words = []
for text in products.text:
  bags_of_words.append(Counter(casual_tokenize(text)))

In [ ]:
df_product_bows = pd.DataFrame.from_records(bags_of_words)

In [ ]:
df_product_bows = df_product_bows.fillna(0).astype(int)

In [ ]:
df_product_bows

,troubleshooting,ad,-,2500,and,2600,no,picture,scrolling,b,...,undone,warrranty,expire,expired,voids,develops,soldier,serving,baghdad,harddisk
0,1,2,2,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3543,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3545,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_all_bows = df_bows.append(df_product_bows); df_all_bows

,The,Rock,is,destined,to,be,the,21st,Century's,new,...,sligtly,owner,81,defectively,warrranty,expire,expired,voids,baghdad,harddisk
0,1.0,1.0,1,1.0,2,1,1,1,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,0.0,1,0.0,0,0,1,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0,0.0,0,0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,1,0.0,4,0,1,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0,0.0,0,0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,NaN,NaN,0,NaN,1,0,1,0,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3542,NaN,NaN,0,NaN,0,0,0,0,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3543,NaN,NaN,0,NaN,0,0,2,0,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3544,NaN,NaN,0,NaN,0,0,0,0,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3545,NaN,NaN,0,NaN,0,0,0,0,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_all_bows.columns # 영화평 말뭉치를 상품평에 적용하기

Index(['The', 'Rock', 'is', 'destined', 'to', 'be', 'the', '21st',
       'Century's', 'new',
       ...
       'sligtly', 'owner', '81', 'defectively', 'warrranty', 'expire',
       'expired', 'voids', 'baghdad', 'harddisk'],
      dtype='object', length=23302)

In [ ]:
df_all_bows= df_all_bows.fillna(0).astype(int)

In [ ]:
df_products_bows = df_all_bows.iloc[len(movies):][df_bows.columns]

In [ ]:
df_products_bows

,The,Rock,is,destined,to,be,the,21st,Century's,new,...,Ill,slummer,Rashomon,dipsticks,Bearable,Staggeringly,’,ve,muttering,dissing
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3543,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_products_bows.shape

(3546, 20756)

In [ ]:
products['ispos'] = (products.sentiment > 0).astype(int) 
products['predicted_ispositive'] = nb.predict(df_products_bows.values).astype(int) 
products.head()

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"

,id,sentiment,text,ispos,predicted_ispositive
0,1_1,-0.90,troubleshooting ad-2500 and ad-2600 no picture...,0,0
1,1_2,-0.15,"repost from january 13, 2004 with a better fit...",0,0
2,1_3,-0.20,does your apex dvd player only play dvd audio ...,0,0
3,1_4,-0.10,or does it play audio and video but scrolling ...,0,0
4,1_5,-0.50,before you try to return the player or waste h...,0,0

In [ ]:
df_product_bows.values

array([[1, 2, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
products

,id,sentiment,text,ispos,predicted_ispositive
0,1_1,-0.90,troubleshooting ad-2500 and ad-2600 no picture...,0,0
1,1_2,-0.15,"repost from january 13, 2004 with a better fit...",0,0
2,1_3,-0.20,does your apex dvd player only play dvd audio ...,0,0
3,1_4,-0.10,or does it play audio and video but scrolling ...,0,0
4,1_5,-0.50,before you try to return the player or waste h...,0,0
...,...,...,...,...,...
3541,309_4,-1.80,"the other day when i was listening to a song, ...",0,0
3542,309_5,-1.30,it says i have a harddisk problem.,0,0
3543,309_6,-1.95,and since i'm out here i can't mail it back un...,0,0
3544,309_7,0.45,it worked good for a while.,1,0
3545,309_8,-2.75,"it did lock up on me a couple of times, and th...",0,0

In [ ]:
(products.predicted_ispositive == products.ispos).sum() / len(products)

0.5572476029328821

# ch03. 말잘하는 수학 : TF-IDF 벡터

In [ ]:
# 1. 단어모음 : 단어빈도들의 벡터
# 2. n-그램 모음 
# 3. TF-IDF 벡터 : 단어의 중요도를 좀더 잘 표현하는 단어 점수 벡터
# -> 통계에 기초한다는 점에서 모두 통계적 모형에 해당

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [102]:
# 단어 모음
from nltk.tokenize import TreebankWordTokenizer 
sentence = """ the faster harry got to the store, the faster harry, the faster, would get home."""
tokenizer = TreebankWordTokenizer()
tokens = tokenizer.tokenize(sentence.lower())

In [103]:
tokens

['the',
 'faster',
 'harry',
 'got',
 'to',
 'the',
 'store',
 ',',
 'the',
 'faster',
 'harry',
 ',',
 'the',
 'faster',
 ',',
 'would',
 'get',
 'home',
 '.']

In [104]:
from collections import Counter
bag_of_words = Counter(tokens) 
bag_of_words

Counter({',': 3,
         '.': 1,
         'faster': 3,
         'get': 1,
         'got': 1,
         'harry': 2,
         'home': 1,
         'store': 1,
         'the': 4,
         'to': 1,
         'would': 1})

In [105]:
bag_of_words.most_common(4)

[('the', 4), ('faster', 3), (',', 3), ('harry', 2)]

In [106]:
times_harry_appears = bag_of_words['harry']
num_unique_words = len(bag_of_words) 
num_unique_words

11

In [107]:
tf = times_harry_appears / num_unique_words;tf

0.18181818181818182

In [3]:
from nlpia.data.loaders import kite_text

/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:136: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  [datetime.datetime, pd.datetime, pd.Timestamp])
/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:158: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  MIN_TIMESTAMP = pd.Timestamp(pd.datetime(1677, 9, 22, 0, 12, 44), tz='utc')
/usr/local/lib/python3.7/dist-packages/pugnlp/tutil.py:100: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/pugnlp/util.py:80: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/futil.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/loaders.py:78: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np

In [108]:
tokenizer = TreebankWordTokenizer()
tokens = tokenizer.tokenize(kite_text.lower())
token_counts = Counter(tokens) 
token_counts

Counter({"'s": 2,
         '(': 1,
         ')': 1,
         ',': 15,
         '.': 2,
         ';': 2,
         'a': 20,
         'above': 1,
         'activities': 1,
         'aerial': 1,
         'against': 1,
         'air': 2,
         'along': 1,
         'also': 3,
         'anchor': 1,
         'anchors': 1,
         'anchors.': 2,
         'and': 10,
         'angle': 1,
         'apply': 1,
         'are': 3,
         'around': 1,
         'art': 1,
         'as': 5,
         'at': 3,
         'attached.': 1,
         'ballet': 1,
         'balloon': 1,
         'be': 5,
         'been': 1,
         'below': 1,
         'boat': 1,
         'both': 1,
         'bridle': 2,
         'buggying': 1,
         'by': 2,
         'called': 2,
         'can': 3,
         'competition.': 1,
         'components': 1,
         'comprising': 1,
         'consists': 2,
         'correct': 1,
         'craft': 2,
         'create': 1,
         'designed': 2,
         'different': 1,
         'direction': 1,
         'drag': 2,
         'drag.': 1,
         'e.g.': 1,
         'even': 2,
         'face': 1,
         'festivals': 1,
         'fishing': 1,
         'fixed': 1,
         'flight': 1,
         'flow': 1,
         'flown': 3,
         'flows': 1,
         'fluid': 1,
         'for': 2,
         'force': 2,
         'forces': 1,
         'free-falling': 1,
         'from': 1,
         'fugitive': 1,
         'generate': 1,
         'generated': 1,
         'generates': 1,
         'guide': 1,
         'have': 4,
         'heavier-than-air': 1,
         'high': 1,
         'history': 1,
         'horizontal': 1,
         'hybrid': 1,
         'in': 7,
         'individually': 1,
         'interaction': 1,
         'is': 7,
         'it.': 1,
         'kite': 16,
         'kite.': 1,
         'kites': 8,
         'kiting': 3,
         'kiting.': 1,
         'kytoon.': 1,
         'landboarding': 1,
         'large': 1,
         'launch': 1,
         'lift': 4,
         'lifting': 1,
         'lighter-than-air': 1,
         'line': 1,
         'lines': 1,
         'liquids': 1,
         'long': 1,
         'low': 1,
         'made': 1,
         'man-lifting': 1,
         'many': 1,
         'may': 4,
         'meets': 1,
         'more': 1,
         'moving': 2,
         'multi-line': 1,
         'needed': 1,
         'new': 1,
         'not': 1,
         'of': 10,
         'often': 2,
         'one': 1,
         'opposed': 1,
         'or': 6,
         'other': 1,
         'paragliders': 1,
         'parakites': 1,
         'part': 1,
         'person': 1,
         'point': 1,
         'point.': 1,
         'power': 2,
         'practical': 1,
         'pressure': 2,
         'principles': 1,
         'producing': 1,
         'react': 1,
         'recreation': 1,
         'resultant': 1,
         'running': 1,
         'sailplane': 1,
         'same': 1,
         'sets': 1,
         'single': 1,
         'snow': 1,
         'so': 3,
         'sometimes': 1,
         'sport': 1,
         'static': 1,
         'steerable': 1,
         'still': 1,
         'such': 1,
         'surface': 2,
         'surfaces': 1,
         'surfing': 1,
         'sustains': 1,
         'system': 1,
         'technical': 2,
         'tension': 1,
         'tether': 1,
         'tether-set-coupled': 1,
         'tethered': 2,
         'tethers': 2,
         'that': 2,
         'the': 26,
         'though': 1,
         'to': 5,
         'towing': 1,
         'traditionally': 1,
         'trend': 1,
         'types': 1,
         'under': 1,
         'untraditionally': 1,
         'used': 2,
         'uses.': 1,
         'varied': 1,
         'vector': 1,
         'vehicle': 1,
         'water.': 1,
         'well': 1,
         'when': 2,
         'which': 2,
         'wind': 2,
         'wind.': 1,
         'wing': 5,
         'wings': 1,
         'wings.': 1,
         'with': 2,
         'worldwide.': 1})

In [111]:
# 불용어 제거
import nltk 
nltk.download('stopwords', quiet=True)

True

In [112]:
stopwords = nltk.corpus.stopwords.words('english') 
tokens = [ x for x in tokens if x not in stopwords]
kite_tokens = Counter(tokens) 
kite_tokens

Counter({"'s": 2,
         '(': 1,
         ')': 1,
         ',': 15,
         '.': 2,
         ';': 2,
         'activities': 1,
         'aerial': 1,
         'air': 2,
         'along': 1,
         'also': 3,
         'anchor': 1,
         'anchors': 1,
         'anchors.': 2,
         'angle': 1,
         'apply': 1,
         'around': 1,
         'art': 1,
         'attached.': 1,
         'ballet': 1,
         'balloon': 1,
         'boat': 1,
         'bridle': 2,
         'buggying': 1,
         'called': 2,
         'competition.': 1,
         'components': 1,
         'comprising': 1,
         'consists': 2,
         'correct': 1,
         'craft': 2,
         'create': 1,
         'designed': 2,
         'different': 1,
         'direction': 1,
         'drag': 2,
         'drag.': 1,
         'e.g.': 1,
         'even': 2,
         'face': 1,
         'festivals': 1,
         'fishing': 1,
         'fixed': 1,
         'flight': 1,
         'flow': 1,
         'flown': 3,
         'flows': 1,
         'fluid': 1,
         'force': 2,
         'forces': 1,
         'free-falling': 1,
         'fugitive': 1,
         'generate': 1,
         'generated': 1,
         'generates': 1,
         'guide': 1,
         'heavier-than-air': 1,
         'high': 1,
         'history': 1,
         'horizontal': 1,
         'hybrid': 1,
         'individually': 1,
         'interaction': 1,
         'it.': 1,
         'kite': 16,
         'kite.': 1,
         'kites': 8,
         'kiting': 3,
         'kiting.': 1,
         'kytoon.': 1,
         'landboarding': 1,
         'large': 1,
         'launch': 1,
         'lift': 4,
         'lifting': 1,
         'lighter-than-air': 1,
         'line': 1,
         'lines': 1,
         'liquids': 1,
         'long': 1,
         'low': 1,
         'made': 1,
         'man-lifting': 1,
         'many': 1,
         'may': 4,
         'meets': 1,
         'moving': 2,
         'multi-line': 1,
         'needed': 1,
         'new': 1,
         'often': 2,
         'one': 1,
         'opposed': 1,
         'paragliders': 1,
         'parakites': 1,
         'part': 1,
         'person': 1,
         'point': 1,
         'point.': 1,
         'power': 2,
         'practical': 1,
         'pressure': 2,
         'principles': 1,
         'producing': 1,
         'react': 1,
         'recreation': 1,
         'resultant': 1,
         'running': 1,
         'sailplane': 1,
         'sets': 1,
         'single': 1,
         'snow': 1,
         'sometimes': 1,
         'sport': 1,
         'static': 1,
         'steerable': 1,
         'still': 1,
         'surface': 2,
         'surfaces': 1,
         'surfing': 1,
         'sustains': 1,
         'system': 1,
         'technical': 2,
         'tension': 1,
         'tether': 1,
         'tether-set-coupled': 1,
         'tethered': 2,
         'tethers': 2,
         'though': 1,
         'towing': 1,
         'traditionally': 1,
         'trend': 1,
         'types': 1,
         'untraditionally': 1,
         'used': 2,
         'uses.': 1,
         'varied': 1,
         'vector': 1,
         'vehicle': 1,
         'water.': 1,
         'well': 1,
         'wind': 2,
         'wind.': 1,
         'wing': 5,
         'wings': 1,
         'wings.': 1,
         'worldwide.': 1})

In [113]:
# 단어 빈도를 벡터로 만들기
document_vector  = []
doc_length = len(tokens) 
for key, value in kite_tokens.most_common():
  document_vector.append(value/ doc_length)

In [15]:
document_vector

[0.07207207207207207,
 0.06756756756756757,
 0.036036036036036036,
 0.02252252252252252,
 0.018018018018018018,
 0.018018018018018018,
 0.013513513513513514,
 0.013513513513513514,
 0.013513513513513514,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.009009009009009009,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045,
 0.0045045045045045045]

In [114]:
docs = ["the faster harry got to the store, the faster harry, the faster, would get home."]
docs.append("harry is hairy and faster than jill.")
docs.append("jill is not as hairy as harry.")
docs

['the faster harry got to the store, the faster harry, the faster, would get home.',
 'harry is hairy and faster than jill.',
 'jill is not as hairy as harry.']

In [115]:
doc_tokens= []
for doc in docs :
  doc_tokens += [ sorted(tokenizer.tokenize(doc.lower()))] 
doc_tokens

[[',',
  ',',
  ',',
  '.',
  'faster',
  'faster',
  'faster',
  'get',
  'got',
  'harry',
  'harry',
  'home',
  'store',
  'the',
  'the',
  'the',
  'the',
  'to',
  'would'],
 ['.', 'and', 'faster', 'hairy', 'harry', 'is', 'jill', 'than'],
 ['.', 'as', 'as', 'hairy', 'harry', 'is', 'jill', 'not']]

In [116]:
len(doc_tokens[0])

19

In [117]:
all_doc_tokens = sum(doc_tokens,[]) ;all_doc_tokens
len(all_doc_tokens)

35

In [118]:
lexicon = sorted(set(all_doc_tokens)) 
len(lexicon)

18

In [119]:
from collections import OrderedDict 
zero_vector = OrderedDict((token,0) for token in lexicon) 
zero_vector

OrderedDict([(',', 0),
             ('.', 0),
             ('and', 0),
             ('as', 0),
             ('faster', 0),
             ('get', 0),
             ('got', 0),
             ('hairy', 0),
             ('harry', 0),
             ('home', 0),
             ('is', 0),
             ('jill', 0),
             ('not', 0),
             ('store', 0),
             ('than', 0),
             ('the', 0),
             ('to', 0),
             ('would', 0)])

In [87]:
len(lexicon)

18

In [88]:
docs

['the faster harry got to the store, the faster harry, the faster, would get home.',
 'harry is hairy and faster than jill.',
 'jill is not as hairy as harry.']

In [120]:
import copy 
doc_vectors = []
for doc in docs : 
  vec = copy.copy(zero_vector) # 주어진 벡터를 복사해서 그 벡터와는 독립적인 벡터를 생성 참조를 해서 재사용하는 것이 아니라 새로운 벡터를 생성
  tokens = tokenizer.tokenize(doc.lower()) 
  token_counts = Counter(tokens) 
  for key, value in token_counts.items():
    vec[key] = value / len(lexicon)  # len(lexicon) = 18
  doc_vectors.append(vec)

In [36]:
doc_vectors

[OrderedDict([(',', 0.16666666666666666),
              ('.', 0.05555555555555555),
              ('and', 0),
              ('as', 0),
              ('faster', 0.16666666666666666),
              ('get', 0.05555555555555555),
              ('got', 0.05555555555555555),
              ('hairy', 0),
              ('harry', 0.1111111111111111),
              ('home', 0.05555555555555555),
              ('is', 0),
              ('jill', 0),
              ('not', 0),
              ('store', 0.05555555555555555),
              ('than', 0),
              ('the', 0.2222222222222222),
              ('to', 0.05555555555555555),
              ('would', 0.05555555555555555)]),
 OrderedDict([(',', 0),
              ('.', 0.05555555555555555),
              ('and', 0.05555555555555555),
              ('as', 0),
              ('faster', 0.05555555555555555),
              ('get', 0),
              ('got', 0),
              ('hairy', 0.05555555555555555),
              ('harry', 0.05555555555555555),
              ('home', 0),
              ('is', 0.05555555555555555),
              ('jill', 0.05555555555555555),
              ('not', 0),
              ('store', 0),
              ('than', 0.05555555555555555),
              ('the', 0),
              ('to', 0),
              ('would', 0)]),
 OrderedDict([(',', 0),
              ('.', 0.05555555555555555),
              ('and', 0),
              ('as', 0.1111111111111111),
              ('faster', 0),
              ('get', 0),
              ('got', 0),
              ('hairy', 0.05555555555555555),
              ('harry', 0.05555555555555555),
              ('home', 0),
              ('is', 0.05555555555555555),
              ('jill', 0.05555555555555555),
              ('not', 0.05555555555555555),
              ('store', 0),
              ('than', 0),
              ('the', 0),
              ('to', 0),
              ('would', 0)])]

In [40]:
# 벡터공간 : 그 공간안에 나타날 수 있는 모든 가능한 벡터의 집합, 벡터의 성분개수는 해당 벡터 공간의 차원수 
# 코사인 유사도,  두벡터의 거리 대신 각도에 기초해서 두벡터의 유사도를 측정, 유클리드 내적 공식에서 유도
# a.dot(b) ==np.linalg.nom(a) * np.linalg.norm(b) / np.cos(theta)

In [133]:
import math 
def cosine_sim(vec1,vec2):
  """두 문서 표현 벡터의 코사인 유사도를 계산하는 함수"""
  vec1= [val for val in vec1.values()] 
  vec2= [val for val in vec2.values()] 
  dot_prod = 0
  for i, v in enumerate(vec1):  # 곱한것들의 합
    dot_prod += v*vec2[i] 
  
  mag_1 = math.sqrt(sum([x**2 for x in vec1])) # norm(a)
  mag_2 = math.sqrt(sum([x**2 for x in vec2])) # norm(b)
  return dot_prod / (mag_1*mag_2)
# 코사인유사도1 : 길이는 다를수있지만 방향은 정확히 일치함을 의미. 두 문서의 유사도가 1이면 비슷한 내용을 담고있을 가능성이 크다
# tf벡터는 같은 사분면에 있다. 그러나 코사인 유사도가 음수가 되려면 두벡터 중 하나가 다른 사분면에 있어야하는데 tf벡터는 모든성분이 양수이기에 불가능

In [3]:
# 지프의 법칙 
# 어떠한 자연어 말뭉치 표현에 나타나는 단어들을 그 사용빈도가 높은 순서대로 나열했을때, 모든 단어의 사용빈도는 해당 단어의 순위에 반비례함

In [4]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [6]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

True

In [7]:
from nltk.corpus import brown

In [8]:
brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [9]:
brown.words()[:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [11]:
brown.tagged_words()[:5] # 품사 태깅을 보여줌

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL')]

In [12]:
len(brown.words()) # 100만을 넘는 단어 존재함

1161192

In [25]:
from collections import Counter  
puncs = set((',','.','--','-','!','?',':',';', '(', ')','[', ']','``',"''" ))

In [26]:
word_list = (x.lower() for x in brown.words() if x not in puncs)

In [27]:
token_counts = Counter(word_list)

In [28]:
token_counts.most_common(20)

[('the', 69971),
 ('of', 36412),
 ('and', 28853),
 ('to', 26158),
 ('a', 23195),
 ('in', 21337),
 ('that', 10594),
 ('is', 10109),
 ('was', 9815),
 ('he', 9548),
 ('for', 9489),
 ('it', 8760),
 ('with', 7289),
 ('as', 7253),
 ('his', 6996),
 ('on', 6741),
 ('be', 6377),
 ('at', 5372),
 ('by', 5306),
 ('i', 5164)]

In [29]:
# 주제 모형화
# idf : 역문서빈도, 지프의 법칙을 주제 분석에 적용하는 수단이라 할 수 있음

In [30]:
!pip install nlpia

Collecting nlpia
  Downloading nlpia-0.5.2-py2.py3-none-any.whl (32.0 MB)
     |████████████████████████████████| 32.0 MB 1.3 MB/s
Collecting html2text
  Downloading html2text-2020.1.16-py3-none-any.whl (32 kB)
Collecting pypandoc
  Downloading pypandoc-1.7.4.tar.gz (30 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: jupyter in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.0)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from nlpia) (2019.12.20)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nlpia) (4.63.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.11.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nlpia) (4.2.6)
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.2.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from nlpia) (5.5.0)
Collecting pugnlp
  Downloading pugnlp-0.2.6-py2.py3-none-any.whl (706 kB)
     |████████████████████████████████| 706 kB 62.0 MB/s
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.8.0)
Requirement already satisfied: keras in /usr/local/lib/python3.7/dist-packages (from nlpia) (2.8.0)
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 5.0 MB/s
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.3.5)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.9.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.2.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from nlpia) (1.0.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from nlpia) (0.16.0)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from nlpia) (3.6.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.15.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (5.2.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim->nlpia) (1.21.5)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->nlpia) (1.5.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib->nlpia) (0.5.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (7.6.5)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (4.10.1)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.3.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.6.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.2.2)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter->nlpia) (5.2.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.1.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.3.5)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->nlpia) (5.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.8.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->nlpia) (57.4.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->jupyter->nlpia) (0.2.5)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (1.0.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->nlpia) (3.5.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.3.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.9.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (3.10.0.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (4.11.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (5.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (21.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->nlpia) (3.7.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (0.13.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (2.11.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->nlpia) (1.8.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->nlpia) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->nlpia) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook->jupyter->nlpia) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter->nlpia) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nlpia) (1.3.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (4.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->nlpia) (0.8.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter->nlpia) (21.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nlpia) (2018.9)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader->nlpia) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader->nlpia) (3.0.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->nlpia) (8.0.1)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (21.1.3)
Requirement already satisfied: coverage in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (3.7.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (0.37.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from pugnlp->nlpia) (6.1.1)
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->pugnlp->nlpia) (1.3)
Requirement already satisfied: qtpy in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter->nlpia) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->nlpia) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->nlpia) (1.1.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (3.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (0.9.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (7.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (2.0.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (0.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy->nlpia) (1.0.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.2.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.5.3)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.1.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.13.3)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (2.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (13.0.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (0.24.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.44.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (2.8.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (3.17.3)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow->nlpia) (1.6.3)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 46.9 MB/s
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.0.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow->nlpia) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow->nlpia) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow->nlpia) (3.2.0)
Building wheels for collected packages: pypandoc, python-Levenshtein
  Building wheel for pypandoc (PEP 517) ... done
  Created wheel for pypandoc: filename=pypandoc-1.7.4-py2.py3-none-any.whl size=32102 sha256=535179eaf5aa11ddd26e01216c49f2fc41a2190d6ffe18d1c8eb9ad71e3a9426
  Stored in directory: /root/.cache/pip/wheels/f1/80/ba/d10ff9f1ebfd8386979b7d86b7e8ed055aa8bc8f4900bfc986
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149878 sha256=78e250ff9c9abec67c42b858c9ae357a59f69814d943cd4513c7470e338a2582
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built pypandoc python-Levenshtein
Installing collected packages: tf-estimator-nightly, python-Levenshtein, pypandoc, fuzzywuzzy, pugnlp, html2text, nlpia
Successfully installed fuzzywuzzy-0.18.0 html2text-2020.1.16 nlpia-0.5.2 pugnlp-0.2.6 pypandoc-1.7.4 python-Levenshtein-0.12.2 tf-estimator-nightly-2.8.0.dev2021122109

In [33]:
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()

from nlpia.data.loaders import kite_text, kite_history  
kite_intro = kite_text.lower()
intro_tokens = tokenizer.tokenize(kite_intro) 

intro_tokens

['a',
 'kite',
 'is',
 'traditionally',
 'a',
 'tethered',
 'heavier-than-air',
 'craft',
 'with',
 'wing',
 'surfaces',
 'that',
 'react',
 'against',
 'the',
 'air',
 'to',
 'create',
 'lift',
 'and',
 'drag.',
 'a',
 'kite',
 'consists',
 'of',
 'wings',
 ',',
 'tethers',
 ',',
 'and',
 'anchors.',
 'kites',
 'often',
 'have',
 'a',
 'bridle',
 'to',
 'guide',
 'the',
 'face',
 'of',
 'the',
 'kite',
 'at',
 'the',
 'correct',
 'angle',
 'so',
 'the',
 'wind',
 'can',
 'lift',
 'it.',
 'a',
 'kite',
 "'s",
 'wing',
 'also',
 'may',
 'be',
 'so',
 'designed',
 'so',
 'a',
 'bridle',
 'is',
 'not',
 'needed',
 ';',
 'when',
 'kiting',
 'a',
 'sailplane',
 'for',
 'launch',
 ',',
 'the',
 'tether',
 'meets',
 'the',
 'wing',
 'at',
 'a',
 'single',
 'point.',
 'a',
 'kite',
 'may',
 'have',
 'fixed',
 'or',
 'moving',
 'anchors.',
 'untraditionally',
 'in',
 'technical',
 'kiting',
 ',',
 'a',
 'kite',
 'consists',
 'of',
 'tether-set-coupled',
 'wing',
 'sets',
 ';',
 'even',
 'in',
 'technical',
 'kiting',
 ',',
 'though',
 ',',
 'a',
 'wing',
 'in',
 'the',
 'system',
 'is',
 'still',
 'often',
 'called',
 'the',
 'kite.',
 'the',
 'lift',
 'that',
 'sustains',
 'the',
 'kite',
 'in',
 'flight',
 'is',
 'generated',
 'when',
 'air',
 'flows',
 'around',
 'the',
 'kite',
 "'s",
 'surface',
 ',',
 'producing',
 'low',
 'pressure',
 'above',
 'and',
 'high',
 'pressure',
 'below',
 'the',
 'wings.',
 'the',
 'interaction',
 'with',
 'the',
 'wind',
 'also',
 'generates',
 'horizontal',
 'drag',
 'along',
 'the',
 'direction',
 'of',
 'the',
 'wind.',
 'the',
 'resultant',
 'force',
 'vector',
 'from',
 'the',
 'lift',
 'and',
 'drag',
 'force',
 'components',
 'is',
 'opposed',
 'by',
 'the',
 'tension',
 'of',
 'one',
 'or',
 'more',
 'of',
 'the',
 'lines',
 'or',
 'tethers',
 'to',
 'which',
 'the',
 'kite',
 'is',
 'attached.',
 'the',
 'anchor',
 'point',
 'of',
 'the',
 'kite',
 'line',
 'may',
 'be',
 'static',
 'or',
 'moving',
 '(',
 'e.g.',
 ',',
 'the',
 'towing',
 'of',
 'a',
 'kite',
 'by',
 'a',
 'running',
 'person',
 ',',
 'boat',
 ',',
 'free-falling',
 'anchors',
 'as',
 'in',
 'paragliders',
 'and',
 'fugitive',
 'parakites',
 'or',
 'vehicle',
 ')',
 '.',
 'the',
 'same',
 'principles',
 'of',
 'fluid',
 'flow',
 'apply',
 'in',
 'liquids',
 'and',
 'kites',
 'are',
 'also',
 'used',
 'under',
 'water.',
 'a',
 'hybrid',
 'tethered',
 'craft',
 'comprising',
 'both',
 'a',
 'lighter-than-air',
 'balloon',
 'as',
 'well',
 'as',
 'a',
 'kite',
 'lifting',
 'surface',
 'is',
 'called',
 'a',
 'kytoon.',
 'kites',
 'have',
 'a',
 'long',
 'and',
 'varied',
 'history',
 'and',
 'many',
 'different',
 'types',
 'are',
 'flown',
 'individually',
 'and',
 'at',
 'festivals',
 'worldwide.',
 'kites',
 'may',
 'be',
 'flown',
 'for',
 'recreation',
 ',',
 'art',
 'or',
 'other',
 'practical',
 'uses.',
 'sport',
 'kites',
 'can',
 'be',
 'flown',
 'in',
 'aerial',
 'ballet',
 ',',
 'sometimes',
 'as',
 'part',
 'of',
 'a',
 'competition.',
 'power',
 'kites',
 'are',
 'multi-line',
 'steerable',
 'kites',
 'designed',
 'to',
 'generate',
 'large',
 'forces',
 'which',
 'can',
 'be',
 'used',
 'to',
 'power',
 'activities',
 'such',
 'as',
 'kite',
 'surfing',
 ',',
 'kite',
 'landboarding',
 ',',
 'kite',
 'fishing',
 ',',
 'kite',
 'buggying',
 'and',
 'a',
 'new',
 'trend',
 'snow',
 'kiting.',
 'even',
 'man-lifting',
 'kites',
 'have',
 'been',
 'made',
 '.']

In [34]:
kite_history = kite_history.lower()
history_tokens = tokenizer.tokenize(kite_history) 
history_tokens

['kites',
 'were',
 'invented',
 'in',
 'china',
 ',',
 'where',
 'materials',
 'ideal',
 'for',
 'kite',
 'building',
 'were',
 'readily',
 'available',
 ':',
 'silk',
 'fabric',
 'for',
 'sail',
 'material',
 ';',
 'fine',
 ',',
 'high-tensile-strength',
 'silk',
 'for',
 'flying',
 'line',
 ';',
 'and',
 'resilient',
 'bamboo',
 'for',
 'a',
 'strong',
 ',',
 'lightweight',
 'framework.',
 'the',
 'kite',
 'has',
 'been',
 'claimed',
 'as',
 'the',
 'invention',
 'of',
 'the',
 '5th-century',
 'bc',
 'chinese',
 'philosophers',
 'mozi',
 '(',
 'also',
 'mo',
 'di',
 ')',
 'and',
 'lu',
 'ban',
 '(',
 'also',
 'gongshu',
 'ban',
 ')',
 '.',
 'by',
 '549',
 'ad',
 'paper',
 'kites',
 'were',
 'certainly',
 'being',
 'flown',
 ',',
 'as',
 'it',
 'was',
 'recorded',
 'that',
 'in',
 'that',
 'year',
 'a',
 'paper',
 'kite',
 'was',
 'used',
 'as',
 'a',
 'message',
 'for',
 'a',
 'rescue',
 'mission.',
 'ancient',
 'and',
 'medieval',
 'chinese',
 'sources',
 'describe',
 'kites',
 'being',
 'used',
 'for',
 'measuring',
 'distances',
 ',',
 'testing',
 'the',
 'wind',
 ',',
 'lifting',
 'men',
 ',',
 'signaling',
 ',',
 'and',
 'communication',
 'for',
 'military',
 'operations.',
 'the',
 'earliest',
 'known',
 'chinese',
 'kites',
 'were',
 'flat',
 '(',
 'not',
 'bowed',
 ')',
 'and',
 'often',
 'rectangular.',
 'later',
 ',',
 'tailless',
 'kites',
 'incorporated',
 'a',
 'stabilizing',
 'bowline.',
 'kites',
 'were',
 'decorated',
 'with',
 'mythological',
 'motifs',
 'and',
 'legendary',
 'figures',
 ';',
 'some',
 'were',
 'fitted',
 'with',
 'strings',
 'and',
 'whistles',
 'to',
 'make',
 'musical',
 'sounds',
 'while',
 'flying.',
 'from',
 'china',
 ',',
 'kites',
 'were',
 'introduced',
 'to',
 'cambodia',
 ',',
 'thailand',
 ',',
 'india',
 ',',
 'japan',
 ',',
 'korea',
 'and',
 'the',
 'western',
 'world.',
 'after',
 'its',
 'introduction',
 'into',
 'india',
 ',',
 'the',
 'kite',
 'further',
 'evolved',
 'into',
 'the',
 'fighter',
 'kite',
 ',',
 'known',
 'as',
 'the',
 'patang',
 'in',
 'india',
 ',',
 'where',
 'thousands',
 'are',
 'flown',
 'every',
 'year',
 'on',
 'festivals',
 'such',
 'as',
 'makar',
 'sankranti.',
 'kites',
 'were',
 'known',
 'throughout',
 'polynesia',
 ',',
 'as',
 'far',
 'as',
 'new',
 'zealand',
 ',',
 'with',
 'the',
 'assumption',
 'being',
 'that',
 'the',
 'knowledge',
 'diffused',
 'from',
 'china',
 'along',
 'with',
 'the',
 'people.',
 'anthropomorphic',
 'kites',
 'made',
 'from',
 'cloth',
 'and',
 'wood',
 'were',
 'used',
 'in',
 'religious',
 'ceremonies',
 'to',
 'send',
 'prayers',
 'to',
 'the',
 'gods.',
 'polynesian',
 'kite',
 'traditions',
 'are',
 'used',
 'by',
 'anthropologists',
 'get',
 'an',
 'idea',
 'of',
 'early',
 '``',
 'primitive',
 "''",
 'asian',
 'traditions',
 'that',
 'are',
 'believed',
 'to',
 'have',
 'at',
 'one',
 'time',
 'existed',
 'in',
 'asia',
 '.']

In [35]:
intro_total = len(intro_tokens) 
history_total = len(history_tokens) 

print(intro_total)
print(history_total)

363
297

In [37]:
intro_tf = {}
history_tf = {}
intro_counts = Counter(intro_tokens) 
intro_tf['kite'] = intro_counts['kite'] / intro_total 
history_counts = Counter(history_tokens) 
history_tf['kite'] = history_counts['kite'] / history_total

In [38]:
intro_tf['kite'] # 두배정도 kite단어가 많이 등장함

0.0440771349862259

In [39]:
history_tf['kite']

0.020202020202020204

In [44]:
# and를 확인하기
intro_tf['and'] = intro_counts['and'] / intro_total 
history_tf['and'] =history_counts['and'] / history_total

In [45]:
intro_tf['and']

0.027548209366391185

In [46]:
history_tf['and']

0.030303030303030304

In [64]:
# 주어진 단어가 문장에서 얼마나 중요한지 보려면 idf가 필요함
# 이 토큰이 이 문서에 등장하는 것이 얼마나 이상한 일인가 라는 관점에서 바라봐야함
num_docs_containing_and = 0
for doc in [intro_tokens, history_tokens] : 
  if 'and' in doc : 
    num_docs_containing_and += 1

num_docs_containing_kite = 0
for doc in [intro_tokens, history_tokens] : 
  if 'kite' in doc : 
    num_docs_containing_kite += 1


num_docs_containing_china = 0
for doc in [intro_tokens, history_tokens] : 
  if 'china' in doc : 
    num_docs_containing_china += 1

In [48]:
intro_tf['china'] = intro_counts['china'] / intro_total 
history_tf['china'] =history_counts['china'] / history_total

In [71]:
num_docs = 2 
intro_idf = {} 
history_idf ={} 
intro_idf['and'] = num_docs / num_docs_containing_and # 2/2 = 1
history_idf['and'] = num_docs / num_docs_containing_and # 2/2 =1 

intro_idf['kite'] = num_docs / num_docs_containing_kite # 2/2 = 1
history_idf['kite'] = num_docs / num_docs_containing_kite # 2/2 =1

intro_idf['china'] = num_docs / num_docs_containing_china # 2 
history_idf['china'] = num_docs / num_docs_containing_china  # 2

In [66]:
num_docs_containing_and

2

In [68]:
num_docs_containing_kite

2

In [70]:
num_docs_containing_china

1

In [74]:
intro_tfidf ={} 
intro_tfidf['and'] = intro_tf['and'] * intro_idf['and']
intro_tfidf['kite'] = intro_tf['kite'] * intro_idf['kite']
intro_tfidf['china'] = intro_tf['china'] * intro_idf['china']

In [75]:
history_tfidf ={} 
history_tfidf['and'] = history_tf['and'] * history_idf['and']
history_tfidf['kite'] = history_tf['kite'] * history_idf['kite']
history_tfidf['china'] = history_tf['china'] * history_idf['china']

In [76]:
print(intro_tfidf)
print(history_tfidf)

{'and': 0.027548209366391185, 'kite': 0.0440771349862259, 'china': 0.0}
{'and': 0.030303030303030304, 'kite': 0.020202020202020204, 'china': 0.020202020202020204}

In [77]:
# 전체 단어 1000000
# cat 1번등장 : idf = 1000000
# dog 10번등장 : idf = 100000
# 말뭉치가 크면 cat과 dog의 빈도차이가 크지 않더라도 idf차이는 아주 클 수 있음
# idf 에 로그를 씌우면 두 용어의 idf를 비교하기 좋을뿐 아니라 tf-idf점수들이 좀더 고르게 분포됨

In [78]:
# 한 단어가 문서에 자주 나올수록 그 단어의 tf가 올라감
# 그 단어를 포함한 문서가 많을수록 그단어의 idf는 내려감
# tf*idf = tf-idf

In [79]:
#log_tf = log(term_occurences_in_doc) - log(num_terms_in_doc) 
#log_log_idf = log(log(total_num_docs) - log(num_docs_containing_term)) 
#log_tf_idf = log_tf + log_idf 
# 간단한 검색 엔진들은 tf-idf수치하나에 기초함

In [80]:
# 관련성 순위
# 문서를 표현하는 벡터는 각 단어의 출현횟수가 아니라 각 단어의 tf-idf로 이루어진 벡터는 문서의 의미나 주제를 좀더 충실하게 반영함

In [123]:
import copy 
document_tfidf_vectors = []
for doc in docs : 
  vec = copy.copy(zero_vector)
  tokens = tokenizer.tokenize(doc.lower()) 
  token_counts = Counter(tokens)  

  for key, value in token_counts.items():
    docs_containing_key = 0

    for _doc in docs:
      if key in _doc:
        docs_containing_key += 1 
      
      tf= value / len(lexicon) 
      
      if docs_containing_key:
        idf = len(docs) / docs_containing_key 
      else:
        idf = 0
      vec[key] = tf*idf 
  document_tfidf_vectors.append(vec)

In [124]:
docs

['the faster harry got to the store, the faster harry, the faster, would get home.',
 'harry is hairy and faster than jill.',
 'jill is not as hairy as harry.']

In [125]:
document_tfidf_vectors

[OrderedDict([(',', 0.5),
              ('.', 0.05555555555555555),
              ('and', 0),
              ('as', 0),
              ('faster', 0.25),
              ('get', 0.16666666666666666),
              ('got', 0.16666666666666666),
              ('hairy', 0),
              ('harry', 0.1111111111111111),
              ('home', 0.16666666666666666),
              ('is', 0),
              ('jill', 0),
              ('not', 0),
              ('store', 0.16666666666666666),
              ('than', 0),
              ('the', 0.6666666666666666),
              ('to', 0.16666666666666666),
              ('would', 0.16666666666666666)]),
 OrderedDict([(',', 0),
              ('.', 0.05555555555555555),
              ('and', 0.16666666666666666),
              ('as', 0),
              ('faster', 0.08333333333333333),
              ('get', 0),
              ('got', 0),
              ('hairy', 0.08333333333333333),
              ('harry', 0.05555555555555555),
              ('home', 0),
              ('is', 0.08333333333333333),
              ('jill', 0.08333333333333333),
              ('not', 0),
              ('store', 0),
              ('than', 0.16666666666666666),
              ('the', 0),
              ('to', 0),
              ('would', 0)]),
 OrderedDict([(',', 0),
              ('.', 0.05555555555555555),
              ('and', 0),
              ('as', 0.1111111111111111),
              ('faster', 0),
              ('get', 0),
              ('got', 0),
              ('hairy', 0.08333333333333333),
              ('harry', 0.05555555555555555),
              ('home', 0),
              ('is', 0.08333333333333333),
              ('jill', 0.08333333333333333),
              ('not', 0.16666666666666666),
              ('store', 0),
              ('than', 0),
              ('the', 0),
              ('to', 0),
              ('would', 0)])]

In [97]:
# tf-idf값들과 코사인 유사도가 있으면 간단한 문서 검색이 가능함
# 검색질의 문자체를 하나의 문서로 간주해서, 그것의 tf-idf문서 표현벡터를 구하고 말뭉치의 문서 표현벡터중 검색질의 문서 표현벡터와의 코사인 유사도 구함

In [127]:
query = "how long does it take to get to the store?" 

query_vec = copy.copy(zero_vector);query_vec

OrderedDict([(',', 0),
             ('.', 0),
             ('and', 0),
             ('as', 0),
             ('faster', 0),
             ('get', 0),
             ('got', 0),
             ('hairy', 0),
             ('harry', 0),
             ('home', 0),
             ('is', 0),
             ('jill', 0),
             ('not', 0),
             ('store', 0),
             ('than', 0),
             ('the', 0),
             ('to', 0),
             ('would', 0)])

In [128]:
tokens = tokenizer.tokenize(query.lower()) 
token_counts = Counter(tokens) 
for key, value in token_counts.items():
  docs_containing_key = 0
  for _doc in docs: 
    if key in _doc.lower(): 
      docs_containing_key += 1
  if docs_containing_key ==0:
    continue 
  tf = value / len(tokens) 
  idf = len(docs) / docs_containing_key
  query_vec[key] = tf*idf

In [130]:
query_vec

OrderedDict([(',', 0),
             ('.', 0),
             ('and', 0),
             ('as', 0),
             ('faster', 0),
             ('get', 0.2727272727272727),
             ('got', 0),
             ('hairy', 0),
             ('harry', 0),
             ('home', 0),
             ('is', 0),
             ('jill', 0),
             ('not', 0),
             ('store', 0.2727272727272727),
             ('than', 0),
             ('the', 0.2727272727272727),
             ('to', 0.5454545454545454),
             ('would', 0)])

In [135]:
cosine_sim(query_vec, document_tfidf_vectors[0])

0.52005218841113

In [136]:
cosine_sim(query_vec, document_tfidf_vectors[1])

0.0

In [137]:
cosine_sim(query_vec, document_tfidf_vectors[2])

0.0

In [138]:
# 선형검색 : 선형 복잡도가 O(N) 
# 구글 검색엔진은 역색인 : O(1)에 해당, whoosh라고 하는 파이썬 패키지가 있음
# 가산적 평활화 : 코드에서는 어휘집에 토큰이 없으면 0으로 나누기를 피하기 위해 continue로 넘김, 이를 해결하기 위해 분모에 1을 더해줌

In [139]:
# scikit-learn
!pip install scipy
!pip install sklearn

Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)

In [143]:
docs # 3개의 문장 / 단어는 16개 / 어휘에 문장부호는 포함되지 않음

['the faster harry got to the store, the faster harry, the faster, would get home.',
 'harry is hairy and faster than jill.',
 'jill is not as hairy as harry.']

In [141]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = docs 
vectorizer = TfidfVectorizer(min_df =1)
model = vectorizer.fit_transform(corpus) 
print(model.todense().round(2))# 희소행렬을 numpy행렬로 반환함 , 
# 사이킥런을 사용하면 단 네줄의 코드로 tf-idf행렬을 만들어줌

[[0.   0.   0.43 0.19 0.19 0.   0.22 0.19 0.   0.   0.   0.19 0.   0.75
  0.19 0.19]
 [0.46 0.   0.35 0.   0.   0.35 0.27 0.   0.35 0.35 0.   0.   0.46 0.
  0.   0.  ]
 [0.   0.75 0.   0.   0.   0.29 0.22 0.   0.29 0.29 0.38 0.   0.   0.
  0.   0.  ]]

In [142]:
model

<3x16 sparse matrix of type '<class 'numpy.float64'>'
	with 22 stored elements in Compressed Sparse Row format>

In [ ]:
# 여러 tf-idf 정규화 방법
# 용어-문서 행렬로서의 tf-idf행렬은 정보조회의 주춧돌
# idf를 최적화하는데 많은 시간을 투자함
# tf-idf 코사인 유사도 대신 okapi bm25이 고려됨 (코사인유사도를 정규화하고 평활화한 값을 사용함)
# 의미론적인 검색엔진들이 더욱 좋음 (향후 챕터에서 다룰예정)
# 문서개수가 수십억 규모인 말뭉치에서는 의미론적 단어벡터나 주제벡터가 효율적이지 못하나. 그러나 문서 수백만건 정도는 의미론적 검색도 감당할 수 있음

# ch04. 단어빈도에서 의미찾기 : 의미분석

In [145]:
# 잠재의미분석(LSA): 단어들의 뜻을 벡터 형태로 표현할수있을 뿐만 아니라 문서 전체의 뜻도 표현할수있음
# 주제벡터(의미론적 벡터) : tf-idf벡터의 가중빈도들을 이용해서 구한 주제 점수들을 성분으로 하는 다차원 벡터임
# 주제벡터 기반검색이 키워드검색(tf-idf)보다 훨씬 낫다.
# 의미벡터를 이용하면 주어진 문장이나 문서, 또는 말뭉치의 주제를 가장 잘 나타내는 단어들과 n-그램들을 식별 할 수 있음
# 주어진 문서에 대해 가장 의미있는 단어들, 문서의 의미를 가장 잘 요약하는 핵심어들을 찾아낼 수 있음
# 두문서(또는 문장)의 핵심어들을 비교함으로써 두 문서의 의미가 얼마나 가까운지 추정할 수 있음
# tf-idf의 단점 : 단어 구성이 다르거나, 철자가 다르면 tf-idf 벡터 표현이 완전히 달라짐, 이는 토큰 빈도에 기초한 검색엔진과 유사도 비교의 큰 단점임

In [146]:
# 단어주제벡터(word-topic vector): 문서의 의미를 표ㅕㄴ하는 벡터를 문서-주제 벡터라고 부름
# 단어와 문장의 의미를 수치로 표현하는것이 간단한 일은 아님,  영어처럼 FUZZY한 언어, 다수의 방언이 존재하며, 같은 단어라도 해석이 다양한 언어에서는 더욱 그러함

In [148]:
topic = {}
import numpy as np
tfidf = dict(list(zip('cat dog apple lion NYC love'.split(), np.random.rand(6))))

In [149]:
tfidf

{'NYC': 0.7636089427968705,
 'apple': 0.5003625935807061,
 'cat': 0.1651195170611346,
 'dog': 0.17410241556025274,
 'lion': 0.8720361504834037,
 'love': 0.37470675405495246}

In [151]:
topic['petness'] = (0.3 * tfidf['cat'] + 0.3*tfidf['dog'] + 0*tfidf['apple'] + 0 * tfidf['lion'] - 0.2*tfidf['NYC'] + 0.2* tfidf['love'])

topic['animalness'] = (0.1 * tfidf['cat'] + 0.1*tfidf['dog'] - 0.1 *tfidf['apple'] + 0.5* tfidf['lion'] - 0.1*tfidf['NYC'] + 0.1* tfidf['love'])

topic['cityness'] = (0 * tfidf['cat'] - 0.1*tfidf['dog'] + 0.2 * tfidf['apple'] - 0.1 * tfidf['lion'] + 0.5 *tfidf['NYC'] + 0.1* tfidf['love'])

In [152]:
word_vector= {}
word_vector['cat'] = 0.3*topic['petness'] + 0.1*topic['animalness'] + 0* topic['cityness'] 
word_vector['dog'] = 0.3*topic['petness'] + 0.1*topic['animalness'] - 0.1* topic['cityness'] 

word_vector['aplle'] = 0*topic['petness'] - 0.1*topic['animalness'] + 0.2* topic['cityness'] 
word_vector['lion'] = 0*topic['petness'] + 0.5*topic['animalness'] - 0.1* topic['cityness'] 

word_vector['NYC'] = -0.2*topic['petness'] + 0.1*topic['animalness'] + 0.5* topic['cityness'] 
word_vector['love'] = 0.2*topic['petness'] - 0.1*topic['animalness'] + 0.1* topic['cityness']

In [153]:
# 상식에 기초하지 않고도 주제 가중치를 선택하는 알고리즘이 필요함
# 가중합의 계산방식을 생각해보면 각 가중합이 하나의 내적임
# 세 내적은 곧 행렬 곱셈에 해당함
# 3xn(n:어휘의 단어수) 가중 행렬에 한문서의 가중단어 빈도들로 이루어진 n차원 tf-idf를 곱한결과는 문서의 주제를 말해주는 3x1주제벡터가됨
# 한 벡터공간에 있는 고차원 벡터(tf-idf벡터)를 그보다 낮은 차원의 다른 벡터공간의 벡터(주제벡터)로 변환하는것에 해당함
# n개의 용어와 m개의 주제에 대한 행렬을 산출해야함
# 그 행렬에 한 문서의 가중빈도들로 이루어진 벡터를 곱하면 그 문서에 대한 주제벡터가 나옴

In [154]:
# LSA는 TF-IDF를 분석해서 단어들을 주제들로 요약하는 알고리즘의 하나이다
# BOW에도 이 알고리즘을 적용할 수 있지만 TF-IDF벡터를 사용할때의 결과가 약간 더 낫다
# LSA는 주제 차원들의 다양성이 유지되도록 주제들을 최적화함
# LSA를 하나의 차원축소 기법이라고도 함, 문서들의 의미를 파악하는데 필요한 차원의 수를 줄임
# PCA에 사용되는 수학은 LSA에 사용되는것과 같음
# PCA는 이미지나 기타 수치행렬의 차원을 줄이기 위한것이고, LSA는 BOW나 TF-IDF의 차원을 줄이기 위한것
# LSA와 비슷한 용도의 알고리즘 : LDA(선형판별분석), LDiA(잠재 디리클레 할당, 문서들을 원하는 만큼의 여러 주제로 축약할수있음)

In [159]:
# [1] LDA 분류기
# 차원축소기법과 분류모형중 가장 간단하고 빠름
# LDA분류기는 지도학습 알고리즘에 속함, 
# 순서
# 1. 한 부류에 속하는 TF-IDF 벡터들의 평균위치(무게중심)계산
# 2. 다른 부류에 속하지 않는 TF-IDF벡터들의 평균위치 계산
# 3. 두 무게중심을 잇는 직선을 나타내느 벡터를 계산함
# 4. TF-IDF벡터가 어느 부류의 무게중심에 더 가까운지 보면됨

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)

In [160]:
import pandas as pd
from nlpia.data.loaders import get_data  
pd.options.display.width = 120 
sms  = get_data('sms-spam') 
index = ['sms{}{}'.format(i, '!'*j) for (i,j) in zip(range(len(sms)), sms.spam)]

In [166]:
sms = pd.DataFrame(sms.values, columns= sms.columns, index= index) ; sms.head(2)

     spam                                               text
sms0    0  Go until jurong point, crazy.. Available only ...
sms1    0                      Ok lar... Joking wif u oni...

In [164]:
sms.values

array([[0,
        'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'],
       [0, 'Ok lar... Joking wif u oni...'],
       [1,
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"],
       ...,
       [0, 'Pity, * was in mood for that. So...any other suggestions?'],
       [0,
        "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"],
       [0, 'Rofl. Its true to its name']], dtype=object)

In [167]:
len(sms)

4837

In [168]:
sms.spam.sum()

638

In [169]:
from sklearn.feature_extraction.text import TfidfVectorizer 
from nltk.tokenize.casual import casual_tokenize  
tfidf_model = TfidfVectorizer(tokenizer = casual_tokenize) 
tfidf_docs = tfidf_model.fit_transform(raw_documents=sms.text).toarray()
tfidf_docs

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [171]:
tfidf_docs.shape # 어휘의단어개수는 9232개, 전체 문자 메시지수의 약 두배이고, 스팸 메시지수의 약 15배

(4837, 9232)

In [173]:
mask = sms.spam.astype(bool).values ; mask

array([False, False,  True, ..., False, False, False])

In [175]:
 print(sms.spam)

sms0        0
sms1        0
sms2!       1
sms3        0
sms4        0
           ..
sms4832!    1
sms4833     0
sms4834     0
sms4835     0
sms4836     0
Name: spam, Length: 4837, dtype: object

In [176]:
spam_centroid = tfidf_docs[mask].mean(axis=0) ; spam_centroid

array([0.06377591, 0.0041675 , 0.00056204, ..., 0.        , 0.        ,
       0.        ])

In [177]:
ham_centroid = tfidf_docs[~mask].mean(axis=0) ; ham_centroid

array([1.98493115e-02, 6.09435187e-03, 1.77747817e-04, ...,
       6.31869803e-05, 6.31869803e-05, 6.31869803e-05])

In [183]:
spamminess_score = tfidf_docs.dot(spam_centroid - ham_centroid) ;spamminess_score

array([-0.01469806, -0.02007376,  0.03856095, ..., -0.01014774,
       -0.00344281,  0.00395752])

In [185]:
print(spamminess_score.reshape(-1,1)) # n -> nx1로 변환(차원하나 늘리기)
print(spamminess_score.shape)
print(spamminess_score.reshape(-1,1).shape)

[[-0.01469806]
 [-0.02007376]
 [ 0.03856095]
 ...
 [-0.01014774]
 [-0.00344281]
 [ 0.00395752]]
(4837,)
(4837, 1)

In [182]:
spamminess_score.round(2) # 비스팸과 스팸 무게중심을 잇는 직선에 상대적인 각 벡터의 길이들을 담은 배열이다.

array([-0.01, -0.02,  0.04, ..., -0.01, -0.  ,  0.  ])

In [186]:
from sklearn.preprocessing import MinMaxScaler 
sms['lda_score'] = MinMaxScaler().fit_transform(spamminess_score.reshape(-1,1))
sms['lda_predict'] = (sms.lda_score> 0.5).astype(int) 
sms['spam lda_predict lda_score'.split()].round(2).head(6)

      spam  lda_predict  lda_score
sms0     0            0       0.23
sms1     0            0       0.18
sms2!    1            1       0.72
sms3     0            0       0.18
sms4     0            0       0.29
sms5!    1            1       0.55

In [193]:
(1. - (sms.spam - sms.lda_predict).abs().sum() / len(sms))
# 간단한 예제였지만 의미분석 접근 방식의 위력을 실감
# 의미분석은 뜻이 비슷한 단어들을 모아서 함께 사용
# 이 훈련 집합은 어휘가 작으며 영어사전에는 없는 단어들도 포함되어 있음

0.9774653710977879

In [195]:
len(sms)

4837

In [196]:
!pip install pugnlp

Requirement already satisfied: pugnlp in /usr/local/lib/python3.7/dist-packages (0.2.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from pugnlp) (4.63.0)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from pugnlp) (21.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pugnlp) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pugnlp) (3.2.2)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (from pugnlp) (0.18.0)
Requirement already satisfied: pypandoc in /usr/local/lib/python3.7/dist-packages (from pugnlp) (1.7.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pugnlp) (1.4.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from pugnlp) (6.1.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pugnlp) (1.0.2)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.7/dist-packages (from pugnlp) (0.12.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from pugnlp) (5.5.0)
Requirement already satisfied: jupyter in /usr/local/lib/python3.7/dist-packages (from pugnlp) (1.0.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pugnlp) (0.11.2)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from pugnlp) (0.37.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pugnlp) (3.2.5)
Requirement already satisfied: coverage in /usr/local/lib/python3.7/dist-packages (from pugnlp) (3.7.1)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from pugnlp) (3.6.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pugnlp) (0.16.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->pugnlp) (1.15.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim->pugnlp) (1.21.5)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->pugnlp) (5.2.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (7.6.5)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (4.10.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (5.6.1)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (5.3.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (5.2.2)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter->pugnlp) (5.2.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->pugnlp) (5.1.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->pugnlp) (5.5.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->pugnlp) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter->pugnlp) (5.3.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel->jupyter->pugnlp) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->jupyter->pugnlp) (0.2.5)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->pugnlp) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->pugnlp) (1.0.2)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->pugnlp) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter->pugnlp) (3.5.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (4.3.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (4.9.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (4.11.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (21.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (3.10.0.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter->pugnlp) (3.7.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->pugnlp) (0.13.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->pugnlp) (2.11.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter->pugnlp) (1.8.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->pugnlp) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter->pugnlp) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook->jupyter->pugnlp) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter->pugnlp) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pugnlp) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pugnlp) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pugnlp) (1.3.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (4.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (0.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter->pugnlp) (0.8.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter->pugnlp) (21.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter->pugnlp) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pugnlp) (2018.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->pugnlp) (8.0.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->pugnlp) (1.3)
Requirement already satisfied: qtpy in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter->pugnlp) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->pugnlp) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->pugnlp) (1.1.0)

In [198]:
from pugnlp.stats import Confusion 
Confusion(sms['spam lda_predict'.split()])

/usr/local/lib/python3.7/dist-packages/pugnlp/stats.py:504: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.__setattr__('_hist_labels', self.sum().astype(int))
/usr/local/lib/python3.7/dist-packages/pugnlp/stats.py:510: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  setattr(self, '_hist_classes', self.T.sum())

lda_predict     0    1
spam
0            4135   64
1              45  593

In [199]:
#LDiA (잠재 디리클레 할당) : 단어 또는 문서의 의미를 표현하는 벡터를 생성하는데 사용
# LSA의 수학을 다른방향으로 적용함
# LDiA는 비선형 통계알고리즘을 이용해서 단어들을 그룹으로 묵음
# 선형접근방식을 사용하는 LSA보다 대체적으로 훈련시간이 훨씬더 길다
# LDiA가 산출하는 주제관련 통계량들이 단어와 주제에 대한 사람의 직관을 좀더 잘 반영할때가 있음
# 문장요약에서 LDiA로 중심적인 문장들을 찾고 그 문장들을 연결해서 요약문을 생성함
# 대부분의 회귀나 분류문제에서는 LSA알고리즘을 사용하는것이 대체로 낫다.

In [200]:
# LSA : SVD기법에 기초한 알고리즘, SVD를 활용해서 TF-IDF 행렬을 세 행렬로 분해함(큰 정수의 소인수 분해와 유사함)
# SVD의 한용도는 행렬의 역을 구하는것, 
# TF-IDF 를 분해하면 원래의 TF-IDF행렬에 관한 유용한 정보를 얻을 수 있으며, 이를 이용해서 행렬을절단한 후 다시 결합해서 문서를 표현하는 벡터 공간의 차원을 줄임
# LSA는 숨겨진 발견되길 기다리는 단어들의 의미를 드러냄
# 절단된 SVD
# LSA는 SVD를 이용해서 자료의 가장 큰 분산의 원인이되는 단어조합을 찾음
# SVD는 최대분산 방향들을 수학적으로 찾아냄, (편향벡터)
# TF-IDF 의 IDF 부분처럼LSA는 벡터의 어떤 차원이 문서의 의미에 중요한지 알려줌
# LSA의 일반화와 압축의 과정은 불용어를 제거해서 얻는 장점과 비슷함
# 차이는 LSA는 차원을 최적으로 축소하며, 어떤 단어도 제거하지 않으면서 정보를 최대한 유지함, 쓸모없는 차원만 폐기할뿐

In [202]:
from nlpia.book.examples.ch04_catdog_lsa_3x6x16 import word_topic_vectors

In [203]:
word_topic_vectors.T.round(1) # 각 주제에 각 단어가 얼마나 관련이 있는지를 나타냄

      cat  dog  apple  lion  nyc  love
top0 -0.6 -0.4    0.5  -0.3  0.4  -0.1
top1 -0.1 -0.3   -0.4  -0.1  0.1   0.8
top2 -0.3  0.8   -0.1  -0.5  0.0   0.1

In [204]:
# 특이값분해
from nlpia.book.examples.ch04_catdog_lsa_sorted import lsa_models, prettify_tdm 
bow_svd, tfidf_svd = lsa_models() 
prettify_tdm(**bow_svd)

100%|██████████| 263/263 [00:00<00:00, 142611.76it/s]

   cat dog apple lion nyc love                                             text
0              1        1                                 NYC is the Big Apple.
1              1        1                        NYC is known as the Big Apple.
2                       1    1                                      I love NYC!
3              1        1           I wore a hat to the Big Apple party in NYC.
4              1        1                       Come to NYC. See the Big Apple!
5              1                             Manhattan is called the Big Apple.
6    1                                  New York is a big city for a small cat.
7    1              1           The lion, a big cat, is the king of the jungle.
8    1                       1                               I love my pet cat.
9                       1    1                      I love New York City (NYC).
10   1   1                                              Your dog chased my cat.

In [206]:
tdm = bow_svd['tdm'];tdm

       0   1   2   3   4   5   6   7   8   9   10
cat     0   0   0   0   0   0   1   1   1   0   1
dog     0   0   0   0   0   0   0   0   0   0   1
apple   1   1   0   1   1   1   0   0   0   0   0
lion    0   0   0   0   0   0   0   1   0   0   0
nyc     1   1   1   1   1   0   0   0   0   1   0
love    0   0   1   0   0   0   0   0   1   1   0

In [207]:
# SVD는 용어 문서 행렬의 열들사이의 상관계수를 계산하여 공동 출현단어들을 찾음
# 문서들 사이의 용어 빈도 상관관계와 문서들 사이의 상관관계도 파악함
# 두가지를 파악해서 SVD는 말뭉치 전체에서 분산이 가장 큰 용어들의 일차결합들을 계산함
# 이러한 용어들의 일차결합이 주제임

In [208]:
import numpy as np
U,s,Vt = np.linalg.svd(tdm) 
import pandas as pd  
pd.DataFrame(U, index=tdm.index).round(2)
# 행렬 U의 각열은 말뭉치의 각 단어의 주제벡터임

          0     1     2     3     4     5
cat   -0.04  0.83 -0.38 -0.00  0.11 -0.38
dog   -0.00  0.21 -0.18 -0.71 -0.39  0.52
apple -0.62 -0.21 -0.51  0.00  0.49  0.27
lion  -0.00  0.21 -0.18  0.71 -0.39  0.52
nyc   -0.75  0.00  0.24 -0.00 -0.52 -0.32
love  -0.22  0.42  0.69  0.00  0.41  0.37

In [209]:
# 특이값행렬 S : 주제의 특잇값들로 이루어진 대각행렬
# 주제벡터공간의 각 차원이 얼마나 많은 정보를 담고있는지를 말해줌
s.round(1)

array([3.1, 2.2, 1.8, 1. , 0.8, 0.5])

In [216]:
S= np.zeros((len(U), len(Vt))) ;S

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [217]:
pd.np.fill_diagonal(S, s) 
pd.DataFrame(S).round(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

    0    1    2    3    4    5    6    7    8    9    10
0  3.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  2.2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.8  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.5  0.0  0.0  0.0  0.0  0.0

In [218]:
# 행렬 Vt는 오른쪽 특이벡터들이 열벡터들인 문서-문서 행렬
# 각 성분은 새 문서의미 모형에서 문서들이 같은 주제를 얼마나 자주 사용하는지를 나타냄
# 이 행렬은 문서들 사이의 의미 공유정도를 말해줌
# 행수는 주제의수 p, 열수는 말뭉치의 문서수 n

In [219]:
# 주제 절단
# 지금까지는 주제의 수가 단어의 수와 같음 : 차원은 전혀 줄어들지 않음
err = []
for numdim in range(len(s), 0, -1):
  S[numdim -1, numdim -1] = 0 
  reconstructed_tdm = U.dot(S).dot(Vt) 
  err.append(np.sqrt(((reconstructed_tdm - tdm).values.flatten() **2).sum() / np.product(tdm.shape)))

In [220]:
np.array(err).round(2)

array([0.06, 0.12, 0.17, 0.28, 0.39, 0.55])